<div class="form-group">
    <div class="input-group">
        <input id="{{ cell.variable_key }}" name="{{ cell.variable_key }}"
               type="text" class="form-control"

                {% if cell.sum_of %}
               data-sum-of="{{ cell.sum_of }}"
                {% endif %}

                {% if cell.is_integer %}
               data-is-integer
                {% endif %}

                {% if cell.required %}
               data-bv-notempty
                {% endif %}/>

        <div class="input-group-btn">
            <button type="button" class="btn btn-default btn-dropdown dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right" role="menu"> <!-- TODO Handle -->
                <li><a href="#">Värdet är otillgängligt</a></li>
                <li><a href="#">Värdet är irrelevant</a></li>
                <li class="active"><a href="#" class="menu-enable">Värdet kan anges</a></li>
            </ul>

            <button class="btn btn-default btn-value disabled">
                {% if cell.previous_value %}
                    ({{ cell.previous_value }})
                {% else %}
                    (&mdash;)
                {% endif %}
            </button>
        </div>
    </div>
</div>