{% load libstat_tags %}

{% for row in group.rows %}
    {% if row.cells and row.cells.0 and "comment" in row.cells.0.types %}
        <div class="row">
            <div class="col-sm-12">
                {% with variable_key=row.cells.0.variable_key %}
                    {{ form|access:variable_key }}
                {% endwith %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-6">
                {{ row.description }}
                {% if not forloop.last %}
                <hr class="description-separator">
                {% endif %}
            </div>

            {% for cell in row.cells %}
                <div class="col-sm-4">
                    {% include "libstat/survey/cell.html" %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}