<div class="row">
    <div class="col-sm-4"></div>
    {% for header in group.headers %}
        <div class="col-sm-2">
            {{ header }}
        </div>
    {% endfor %}
</div>

{% for row in group.rows %}
    <div class="row">
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-10">
                    {{ row.description }}
                </div>
                <div class="col-sm-1">
                    {% include "libstat/survey/explain.html" %}
                </div>
            </div>
        </div>

        {% for cell in row.cells %}
            <div class="col-sm-2">
                {% include "libstat/survey/cell.html" %}
            </div>
        {% endfor %}
    </div>
{% endfor %}