<div class="row">
    <div class="col-sm-3"></div>
    {% for header in group.headers %}
        <div class="col-sm-3">
            {{ header }}
        </div>
    {% endfor %}
</div>

{% for row in group.rows %}
    <div class="row">
        <div class="col-sm-3">
            {{ row.description }}
            {% if not forloop.last %}
            <hr class="description-separator">
            {% endif %}
        </div>

        {% for cell in row.cells %}
            <div class="col-sm-3">
                {% include "libstat/survey/cell.html" %}
            </div>
        {% endfor %}
    </div>
{% endfor %}