<div class="row">
    <div class="col-sm-4"></div>
    {% for header in group.headers %}
        <div class="col-sm-4 group-header">
            <b>{{ header }}</b>
        </div>
    {% endfor %}
</div>

{% for row in group.rows %}
    <div class="row">
        <div class="col-sm-4">
            {{ row.description }}
            {% if row.description|length > 70 and not forloop.last %}
                <hr class="description-separator">
            {% endif %}
        </div>

        {% for cell in row.cells %}
            <div class="col-sm-4">
                {% include "libstat/survey/cell.html" %}
            </div>
        {% endfor %}
    </div>
{% endfor %}