<div class="jumbotron">
    <h1>Tack för din medverkan!</h1>

    <p>
        Vi har nu mottagit dina svar och kommer att börja behandla dem.
    </p>
    <p>
        Du kan fortfarande se dina inskickade svar men du kan inte längre ändra dem.
        <br>Om du har frågor eller behöver göra ändringar, kontakta <a href="mailto:biblioteksstatistik@kb.se">biblioteksstatistik@kb.se</a>.
    </p>
    <p>
        <a href="javascript:if(window.print)window.print()"><i class="fa fa-print fa-inline"></i>Skriv ut enkäten</a>
    </p>
</div>