<div class="container">
    <div class="jumbotron">
        <p>
            Du ser nu {{ form.sample_year }} års enkät för <b>{{ form.library_name }}</b>.
            {% if form.city %}
                <br>Biblioteket finns i <b>{{ form.city }}</b>{% if form.municipality_code %}, som har kommunkoden <b>{{ form.municipality_code }}</b>{% endif %}.
            {% endif %}

            <br><br>Enkäten har status <b>{{ form.status|lower }}</b> och är
            <b>{% if form.is_user_read_only %} stängd {% else %} öppen {% endif %}
            </b> för respondenten.

            {% if form.is_published %}
                <br>Enkätens innehåll har publicerats, men du kan fortfarande kontrollera, 
                <br>korrigera och spara enkäten. För att dessa ändringar ska vara synliga 
                <br>för allmänheten måste du publicera enkäten igen. Den gamla 
                <br>publicerade datan kommer då ersättas av den nya.
            {% else %}
                <br>Här kan du kontrollera, korrigera, spara och ändra status på enkäten.
            {% endif %}
        </p>

        <form id="form-admin" class="form" action="{% url 'survey_status' form.key.value %}"
              method="post">
            {% csrf_token %}
            {{ form.selected_status }}

            <div class="form-group">
                <div class="input-group">
                    <label>Ändra status</label>

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                data-toggle="dropdown">
                            {{ form.status }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for key, status in form.statuses %}
                                {% if status == form.status %}
                                    <li class="active"><a href="#" data-key="{{ key }}">{{ status }}</a></li>
                                {% elif key == "published" and not form.is_published %}
                                    <!-- DO NOTHING -->
                                {% else %}
                                    <li><a href="#" data-key="{{ key }}">{{ status }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        <button type="submit" class="btn btn-primary">Ändra</button>
                    </div>
                </div>
            </div>
        </form>

        <hr>
        <p>
            Respondenten kan komma åt enkäten på följande adress.
            <br><b>{{ form.url_with_password }}</b>
            <br>
            <br>Alternativt kan lösenordet <b>{{ form.password }}</b> användas med adressen:
            <br><b>{{ form.url }}</b>
        </p>

        {% if form.library_selection_conflict %}
            <hr>
            <p>De valda biblioteken rapporteras också för i de följande enkäterna.</p>
            <ul>
            {% for survey in form.conflicting_surveys %}
                <li class="jumbotron-list">
                    <a href="{{ survey.url }}">{{ survey.library.name }} {% if survey.library.city %} i {{ survey.library.city }}{% endif %}</a>
                    ({% for library in survey.conflicting_libraries %}{{ library.name }}{% if not forloop.last %}, {% endif %}{% endfor %})
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>