{% extends "libstat/base/admin.html" %}

{% block content %}
    <style>
        .jumbotron-password {
            margin-top: 20px;
        }
    </style>
    <div class="container">
        <div class="jumbotron jumbotron-password">
            <p>Ange ditt lösenord för att komma till enkäten.</p>

            <form id="form-password" class="form-inline" action="" method="post">
                {% csrf_token %}

                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Lösenord"
                           data-fv-notempty="true"
                           data-fv-notempty-message="Vänligen mata in lösenordet">

                    <button type="submit" class="btn btn-primary">Visa enkäten</button>
                </div>
            </form>

            {% if wrong_password %}
                <p class="alert alert-danger">Lösenordet du angav var felaktigt, försök igen.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}