<div class="panel-group" id="panel-help-top">
<div class="panel panel-default">
<div class="panel-body">
    {{ form.intro_text|linebreaks }}
</div>

<div class="panel-footer">
    <h3 class="panel-title">
        <span class="fa fa-question-circle" aria-hidden="true"></span>
        <a data-toggle="collapse" data-parent="#panel-help-top" href="#collapseTop">
            Visa vanligaste frågorna och svaren
        </a>
    </h3>
</div>

<div id="collapseTop" class="panel-collapse collapse">
<div class="panel-body">
<div class="panel-group" id="panel-help">
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseEight">
                Hur fungerar det med automatisk summering?
            </a>
        </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
            <p>I vissa frågor förekommer det flera inmatningsfält där ett av dessa fält är ett totalfält som automatiskt summerar de andra fälten. I exemplet nedan har värden angetts i de två första fälten (5 och 7 respektive), som sedan automatiskt summerats till 12 i det tredje.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" value="5">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" value="7">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <div class="sum-of">=</div>
                        <input class="form-control" value="12" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p>Vid inmatning av delsummor och totaler gäller följande:</p>
            <ul>
                <li>Ange antingen alla delsummor eller ett totalvärde.</li>
                <li>Om du angett ett totalvärde själv, kan du inte ange några enstaka delvärden.</li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseFour">
                Hur kan jag veta att jag fyller i rätt värde?
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <p>De aktuella definitionerna för värdena finns till höger om inmatningsrutorna.
                <br>Tryck på frågetecknet för att visa förklaringen. Du stänger rutan genom att klicka på frågetecknet en andra gång.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <a  class="btn btn-default btn-help" 
                                href="#"
                                title=""
                                role="button"
                                tabindex="0"
                                data-trigger="click"
                                data-toggle="popover" 
                                data-placement="top" 
                                data-content="Här visas definitionen av värdet." 
                                data-trigger="click" 
                                data-original-title="Förklaring"
                                aria-label="Förklaring">
                                <span class="fa fa-question" aria-hidden="true"></span>
                            </a>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            Definitionerna följer den internationella standarden för biblioteksstatistik ISO 2789 i den mån som den inte kolliderar med svensk praxis.
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseThree">
                Kan jag se inlämnade värden från föregående mätningar?
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Föregående års inlämnade värde visas till höger om respektive inmatningsfält.
                <br>I exemplet nedan ser du hur föregående års inlämnade värde var 125 750.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                125 750
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p>Om föregående års värde inte lämnats, visas ett streck i dess ställe.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseSeven">
                Måste jag fylla i samtliga fält i enkäten?
            </a>
        </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Nej, de fält som är obligatoriska visas med texten <i>obligatorisk</i>. Nedan ser du två inmatningsfält: det vänstra fältet är obligatoriskt och det högra fältet är inte det.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group input-example">
                        <input class="form-control" placeholder="Obligatorisk">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled" aria-disabled="true" aria-label="visa alternativ">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled" aria-disabled="true" aria-label="Föregående års värde">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseTwo">
                Svarar jag för organisationen eller för ett enskilt bibliotek?
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            Frågorna kan besvaras för en samlad biblioteksorganisation eller ett enskilt bibliotek. Om ni vill redovisa några variabler samlat på regionnivå och resten på kommunal nivå på grund av att ni har bibliotekssystemsamarbete måste ni <a href="{{ form.mailto }}">rekvirera en ny inloggning</a> som gäller särskilt för dessa uppgifter.
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseFive">
                Var ska jag vända mig om jag har frågor?
            </a>
        </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
            Frågor kan ställas till <a href="{{ form.mailto }}">biblioteksstatistik@kb.se</a> eller <a href="tel:+46107093639">010-709 36 39</a>. Löpande information om undersökningen kan även fås på <a href="https://www.kb.se/samverkan-och-utveckling/biblioteksstatistik/lamna-in-statistik.html">Kungliga bibliotekets webbplats</a>. 
            Information om tillgänglighet för digitala tjänster kan tas del av genom vår <a href="https://www.kb.se/digital-tillganglighet">tillgänglighetsredogörelse</a>.
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>