<div class="panel-group" id="panel-help-top">
<div class="panel panel-bibstat">
<div class="panel-body">
    {{ form.intro_text|linebreaks }}
    <hr>
    <p>
        Du kan när som helst spara dina svar genom att trycka på spara-knappen, längst ned i högra hörnet av skärmen. När enkäten sparats har du möjlighet att stänga enkäten och komma tillbaka vid ett senare tillfälle för att fortsätta fylla i enkäten. Använd samma enkätadress som tidigare för att komma tillbaka till enkäten.
        <br>
        <br>
        Obs! För att enkäten ska fungera ordentligt behöver du se till att använda en webbläsare där inte javascript inaktiverats.
        <br>
        <br>
        Klicka nedan för att visa många av de vanligaste frågorna och svaren.
        <br>
        När du är redo att börja fylla i enkäten, hoppa ned till den första frågan.
    </p>
</div>

<div class="panel-footer">
    <h4 class="panel-title">
        <i class="fa fa-question-circle"></i>
        <a data-toggle="collapse" data-parent="#panel-help-top" href="#collapseTop">
            Visa vanligaste frågorna och svaren
        </a>
    </h4>
</div>

<div id="collapseTop" class="panel-collapse collapse">
<div class="panel-body">
<div class="panel-group" id="panel-help">
<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseEight">
                Hur fungerar det med automatisk summering?
            </a>
        </h4>
    </div>
    <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
            <p>I vissa frågor förekommer det flera inmatningsfält där ett av dessa fält är ett totalfält som automatiskt summerar de andra fälten. I exemplet nedan har värden angetts i de två första fälten (5 och 7 respektive), som sedan automatiskt summerats till 12 i det tredje.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" value="5">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" value="7">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <div class="sum-of">=</div>
                        <input class="form-control" value="12" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p>Vid inmatning av delsummor och totaler gäller följande:</p>
            <ul>
                <li>Ange alla delsummor in den mån det är möjligt.</li>
                <li>Om inte alla siffror är tillgängliga går det att enbart mata in en totalsumma.</li>
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseFour">
                Hur kan jag veta att jag fyller i rätt värde?
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
            <p>De aktuella definitionerna för värdena finns till höger om de flesta inmatningsrutorna.
                <br>Testa till exempel att trycka på frågetecknet vid rutan nedan för att visa förklaringen. Du stänger rutan genom att klicka på frågetecknet en andra gång.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <a type="button" class="btn btn-default btn-help" href="#" title="" tabindex="0" data-toggle="popover" data-placement="top" data-content="Här visas definitionen av värdet." data-trigger="click" data-original-title="Förklaring">
                                <i class="fa fa-question"></i>
                            </a>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            Definitionerna följer den nya internationella standarden för biblioteksstatistik ISO 2789 från 2013 i den mån som den inte kolliderar med svensk praxis.
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseThree">
                Kan jag se inlämnade värden från föregående mätningar?
            </a>
        </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Föregående års inlämnade värde visas till höger om respektive inmatningsfält.
                <br>I exemplet nedan ser du hur föregående års inlämnade värde var 125 750.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                125 750
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p>Eftersom det är en ny typ av frågeformulär, så visas inte alltid föregående värde.
                <br>Om föregående års värde inte finns tillgängligt, så visas ett streck i dess ställe.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseSeven">
                Måste jag fylla i samtliga fält i enkäten?
            </a>
        </h4>
    </div>
    <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Nej, de fält som är obligatoriska visas med texten <i>obligatorisk</i>. Nedan ser du två inmatningsfält: det vänstra fältet är obligatoriskt och det högra fältet är inte det.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group input-example">
                        <input class="form-control" placeholder="Obligatorisk">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="input-group">
                        <input class="form-control">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown disabled">
                                <span class="caret"></span>
                            </button>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseTwo">
                Svarar jag för organisationen eller för ett enskilt bibliotek?
            </a>
        </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            Frågorna kan besvaras för en samlad biblioteksorganisation eller ett enskilt bibliotek. Om ni måste redovisa några variabler samlat på länsnivå och resten på kommunal nivå på grund av att ni har bibliotekssystemsamarbete måste ni <a href="{{ form.mailto }}">rekvirera en ny inloggning</a> som gäller särskilt för dessa uppgifter.
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseSix">
                Vad ska jag göra om jag omöjligt kan fylla i ett värde?
            </a>
        </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Om du inte har möjlighet att fylla i ett specifikt värde, så kan du markera det som okänt. Du gör detta genom att klicka på knappen till höger om ett inmatningsfält, och välja <i>värdet är okänt</i>. Nedan ser du ett fält som har markerats som okänt.</p>

            <div class="row row-help">
                <div class="col-xs-6">
                    <div class="input-group input-example">
                        <input class="form-control" placeholder="Värdet är okänt" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default btn-dropdown dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="active"><a>Värdet är okänt</a></li>
                                <li><a>Ange värdet</a></li>
                            </ul>

                            <button class="btn btn-default btn-prev-year disabled">
                                &mdash;
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            När ett inmatningsfält markeras som okänt kan du inte längre skriva in ett värde.
            <br>För att återigen kunna skriva in ett värde i fältet, välj <i>ange värdet</i> i fältets meny.
        </div>
    </div>
</div>

<div class="panel panel-bibstat">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-angle-right"></i>
            <a data-toggle="collapse" data-parent="#panel-help" href="#collapseFive">
                Var ska jag vända mig om jag har frågor?
            </a>
        </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
            Använd vårt <a href="http://kundo.se/org/biblioteksstatistiken/" onclick="return kundo.toggle_box()">forum</a> för att ställa frågor. Det kommer du hela tiden åt via Frågor & förslag-fliken till höger. I forumet kan du även ta del av andras frågor och se populära inlägg.
            <br>
            <br>
            Frågor kan också ställas till <a href="{{ form.mailto }}">biblioteksstatistik@kb.se</a>, <a href="tel:+46107093639">010-709 36 39</a> eller  <a href="tel:+46107093622">010-709 36 22</a>. Löpande information om undersökningen kan även fås på <a href="http://biblioteksstatistik.blogg.kb.se" target="_blank">http://biblioteksstatistik.blogg.kb.se</a>.
        </div>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>