{% load compress %}

<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Biblioteksstatistiken</title>

        {% compress css %}
            <link href="/static/js/plugins/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="/static/js/plugins/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet"/>
            <link href="/static/js/plugins/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css" rel="stylesheet"/>
            <link href="/static/js/plugins/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css" rel="stylesheet"/>
            <link href="/static/js/plugins/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>
            <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
            <link href="/static/css/libstat.css" rel="stylesheet"/>
        {% endcompress %}

        {% compress js %}
            <script src="/static/js/ie-fixes.js" type="text/javascript"></script>
            <script src="/static/js/plugins/respond/1.4.2/respond.min.js" type="text/javascript"></script>
            <script src="/static/js/plugins/requirejs/require.js" type="text/javascript"></script>
            <script src="/static/js/main.js" type="text/javascript"></script>
        {% endcompress %}

        <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    </head>

    <body>
        {% include "libstat/base/admin/navbar.html" %}
        {% include "libstat/base/admin/login.html" %}

        {% block content %}
        {% endblock %}
    </body>
</html>