{% load libstat_tags %}

<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Kungl. bibliotekets statistik om Sveriges offentligt finansierade bibliotek">

        <title>Biblioteksstatistik | statistik | bibliotek | Kungliga biblioteket</title>

        <link href="/static/js/plugins/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/static/css/report.css" rel="stylesheet"/>
        <link href="/static/css/index.css" rel="stylesheet"/>

        {% include "libstat/analytics.html" %}

        <link href="/humans.txt" rel="author" type="text/plain">
    </head>

    <body>
        {% block content %}
        {% endblock %}

        <footer>
            <hr>
<p style="padding:10px;text-align:center;">
Kungliga biblioteket hanterar dina personuppgifter i enlighet med EU:s dataskyddsförordning (2018), GDPR. <a href="https://www.kb.se/omoss/dataskydd.html">Läs mer om hur det funkar här</a>.
<br>
Så här hanterar KB dina uppgifter vid <a href="https://www.kb.se/omoss/dataskydd.html#Bibstat">användning av denna tjänst.</a>
</p>
            <div class="container text-center">
                <p>{% footer %}<br>{% block footer %}{% endblock %}</p>
            </div>
        </footer>

        <script src="/static/js/plugins/requirejs/require.js"></script>
        <script src="/static/js/main.js"></script>

        <!-- Kundo forum 

        <script type="text/javascript">
            var _kundo = _kundo || {};
            _kundo["org"] = "biblioteksstatistiken";
            _kundo["lang"] = "sv";
            _kundo["btn-type"] = "4";
            _kundo["top"] = "50%";

            (function() {
                function async_load(){
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = ('https:' == document.location.protocol ? 'https://static-ssl' : 'http://static') +
                            '.kundo.se/embed.js';
                    var x = document.getElementsByTagName('script')[0];
                    x.parentNode.insertBefore(s, x);
                }
                if (window.attachEvent)
                    window.attachEvent('onload', async_load);
                else
                    window.addEventListener('load', async_load, false);
            })();
        </script>
	-->
    </body>
</html>
