{% load libstat_tags %}

<!doctype html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Kungl. bibliotekets statistik om Sveriges offentligt finansierade bibliotek">

        <title>Biblioteksstatistik | statistik | bibliotek | Kungliga biblioteket</title>

        <link href="/static/js/plugins/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
        <link href="/static/css/open-sans.css" rel="stylesheet"/>
        <link href="/static/css/report.css" rel="stylesheet"/>
        <link href="/static/css/index.css" rel="stylesheet"/>

        {% include "libstat/analytics.html" %}

        <link href="/humans.txt" rel="author" type="text/plain">
    </head>

    <body>
        {% block content %}
        {% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-2 logo-container">
                        <img src="/static/img/kb.svg" class="intro-logo" alt="Kungliga biblioteket">
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        <nav aria-label="Länkar i sidfot">
                            <ul class="footer-list">
                                <li><a href="https://www.kb.se/omoss/dataskydd.html#Bibstat">Om dataskydd (GDPR)</a></li>
                                <li><a href="https://www.kb.se/digital-tillganglighet">Tillgänglighetsredogörelse</a></li>
                                <li><a href="https://github.com/libris/bibstat/releases">Versionsinformation</a></li>
                            </ul>
                        </nav>
                        <span class="footer-notes">{% footer %}<br>{% block footer %}{% endblock %}</span>
                    </div>
                </div>
            </div>
        </footer>

        <script src="/static/js/plugins/requirejs/require.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>
