/*
 * Customizations for libstat
 */
 
 /* Top menu */
.libstat .navbar-inverse li:hover {
  background-color: #333333;
}

/* Table Sortable plugin */
.libstat table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 16px;
}
.libstat table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
.libstat table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
.libstat table.tablesorter thead tr .headerSortDown, 
.libstat table.tablesorter thead tr .headerSortUp {
  background-color: #428BCA;
  color: #ffffff;
}

/* Publish suvey responses */
.publish-survey-responses-form .submit-publish {
    margin-top: -86px;
}

/* Get actual width of form inputs without using class form-inline */
.form-control.width-auto {
    width: auto;
}

/* Form validation messages */
.errorlist {
    list-style: none outside none;
    padding: 0;
}
.form-validation {
    font-style: italic;
}
.form-validation.after {
    margin-left: 6px;
}

/* Custom panel styles */
.panel-default.inverse > .panel-heading {
    background-color: #ffffff;
}
.panel-default.inverse > .panel-body {
    background-color: #f5f5f5;
}
.panel-default.inverse > .panel-footer {
    background-color: #f5f5f5;
}