/*
 * Customizations for libstat
 */
 
 /* Top menu */
.libstat .navbar-inverse li:hover {
  background-color: #333333;
}

/* Table Sortable plugin */
.libstat table.tablesorter thead tr .header {
	background-image: url(../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 16px;
}
.libstat table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/asc.gif);
}
.libstat table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/desc.gif);
}
.libstat table.tablesorter thead tr .headerSortDown, 
.libstat table.tablesorter thead tr .headerSortUp {
  background-color: #428BCA;
  color: #ffffff;
}

/* Publish suvey responses */
.publish-survey-responses-form .submit-publish {
    margin-top: -86px;
}

/* Get actual width of form inputs without using class form-inline */
.form-control.width-auto {
    width: auto;
}

/* Form validation messages */
.errorlist {
    list-style: none outside none;
    padding: 0;
}
.form-validation {
    font-style: italic;
}
.form-validation.after {
    margin-left: 6px;
}

/* Custom panel styles */
.panel-default.inverse > .panel-heading {
    background-color: #ffffff;
}
.panel-default.inverse > .panel-body {
    background-color: #f5f5f5;
}
.panel-default.inverse > .panel-footer {
    background-color: #f5f5f5;
}
    
/* Edit survey response */
.survey-question-order {
    font-size: 120%;
    font-weight: bold;
}
.term-key {
    color: #ccc;
}
.edit-survey-observations-form .form-group ul {
  list-style: none outside none;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 20px;
  padding-left: 20px;
}
.edit-survey-observations-form .form-group ul label {
  cursor: pointer;
  display: inline;
  font-weight: 400;
}
.edit-survey-observations-form .form-group ul input[type="radio"], 
.edit-survey-observations-form .form-group ul input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
/* Tooltip */
.css3-tooltip {
  display: inline;
  position: relative;
}
.css3-tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.css3-tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* General stuff */
.header-actions {
  margin-top: 34px;
}
.warnings {
  font-style: italic;
}
.warnings.right {
  margin-left: 8px;
}
.bold {
  font-weight: bold;
}
.cursor-help {
  cursor: help;
}
