@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    header, footer, .report-explanation {
        display: none !important;
    }

    .chart {
        page-break-inside: avoid !important;
        page-break-after: always !important;
    }
}

body {
    background-color: white !important;
    font-weight: 300;
    font-size: 13px;
}

.intro.intro-fixed.intro-report {
    height: 120px;
}

.intro.intro-fixed.intro-report .intro-body {
    padding-top: 20px;
}

.intro.intro-fixed.intro-report .container {
    width: 900px;
    padding-left: 0px;
    text-align: left;
}

.intro-report span {
    float: right;
}

.intro-header {
    font-size: 40px;
    font-weight: bold;
}

.intro-report .btn-reports {
    background-color: rgb(112, 125, 81) !important;
    border-color: rgb(84, 96, 46) !important;
    color: white !important;
}

.observation-group {
    margin-bottom: 50px;
}

.observation-group:last-child {
    margin-bottom: 0;
}

.report {
    width: 900px;
    margin: 0px auto;
    padding-top: 30px;
}

.report .row {
    margin-left: 0px;
    margin-right: 0px;
}

th {
    color: white !important;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

th, td {
    padding-left: 7px;
    padding-right: 7px;
    border-right: 1px solid white;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.even td:not(.observation-data-missing) {
    background-color: rgb(233, 244, 249) !important;
}

th.observation-label {
    text-align: left;
    background-color: rgb(0, 158, 224) !important;
}

th.observation-previous-previous-year {
    background-color: rgb(185, 203, 0) !important;
    width: 130px;
}

th.observation-previous-year {
    background-color: rgb(152, 163, 56) !important;
    width: 130px;
}

th.observation-sample-year {
    background-color: rgb(242, 148, 0) !important;
    width: 130px;
}

th.observation-difference {
    background-color: rgb(216, 136, 37) !important;
    width: 110px;
    white-space: nowrap;
}

th.observation-difference-total {
    background-color: rgb(226, 0, 122) !important;
    width: 100px;
}

th.observation-extra {
    width: 250px;
    background-color: rgb(186, 67, 129) !important;
}

.observation-label {
    width: 500px;
}

.report-title {
    font-size: 40px;
    font-family: helvetica;
}

.libraries-header {
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

.library-section {
    padding-top: 10px;
    padding-left: 0px;
    margin-bottom: 50px;
}

.libraries {
    border-left: 1px solid black !important;
    padding-left: 15px;
}

.libraries .library {
    padding-top: 0px;
    top: -2px;
    font-size: 12px;
}

.libraries .library:not(:last-child) {
    padding-bottom: 3px;
}

tr.sum td:not(.observation-label) {
    background-color: rgb(200, 212, 229) !important;
}

.report-legend .example-total {
    background-color: rgb(200, 212, 229) !important;
}

tr.key-figure td:not(.observation-label) {
    background-color: rgb(224, 192, 216) !important;
}

tr.key-figure.even td:not(.observation-label) {
    background-color: rgb(199, 167, 191) !important;
}

.report-legend .example-key-figure {
    background-color: rgb(224, 192, 216) !important;
}

tr.label-only td {
    color: white !important;
    background-color: rgb(212, 104, 102) !important;
    font-weight: bold;
}

.incomplete-data {
    font-weight: bold !important;
    vertical-align: top;
    color: red !important;
}

.report-legend {
    margin-bottom: 10px;
    margin-right: 4px;
    width: 896px;
}

.report-legend > span {
    width: auto;
    height: 1em;
    display: inline-block;
    margin-right: 20px;
}


.report-legend > span > span {
    width: 2em;
    height: 1em;
    display: inline-block;
}

span.print-report {
    float: right;
    margin-right: 0px;
    background-color: rgb(95, 96, 98) !important;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    font-size: 20px;
    text-align: center;
}

span.print-report > a {
    color: white !important;
}

.measurements {
    width: 900px;
}

tr.empty {
    height: 30px;
}

.fa.fa-small {
    font-size: 7px;
}

a[title="JavaScript charts"] {
    display: none;
    visibility: hidden;
}

td.observation-previous-previous-year,
td.observation-previous-year,
td.observation-sample-year,
td.observation-difference,
td.observation-difference-total,
td.observation-extra {
    white-space: nowrap;
}

.chart {
    width: 100%;
    font-size: 11px;
    margin-bottom: 50px;
    overflow: visible !important;
    padding-right: 40px;
}

.chart svg {
    overflow: visible !important;
}

.chart div {
    overflow: visible !important;
}

.chart:last-child {
    margin-bottom: 0;
}

.popover {
    max-width: none;
    width: 500px;
}

.popover .popover-content {
    padding: 15px;
}