import os, urllib3, certifi

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = '3x%=t4cm@eszqbwuw@00f**ol@8^kqomtm8-%x&5_ydq9rm(nl'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True
TEMPLATE_DEBUG = True

LOG_LEVEL = 'DEBUG'

ALLOWED_HOSTS = []

# Base url for api, i.e. http://stats.kb.se
API_BASE_URL = "http://localhost:8000"
BIBDB_BASE_URL = "http://localhost:8001"

# DB connection details
MONGODB_DATABASES = {
    "default": {
        "name": "bibstat",
        "host": "localhost",
        "password": "bibstat",
        "username": "bibstat",
        "tz_aware": True, # if you using timezones in django (USE_TZ = True)
    },
}

# Email details
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Path to log files for cleaning data functions
# Change to /data/appl/log for production
CLEAN_DATA_LOG_PATH = os.path.dirname(os.path.dirname(__file__))

# Path to excel file with sigel mappings
# Change to /data/appl/sigel_match/sigel_mapping.xlsx for production
SIGEL_MAPPING_FILE_PATH = '/Users/ina/projects/bibstat/data/sigel_match/sigel_mapping.xlsx'

# This setting has to be adjusted for 'stage' and 'prod' environments
ENVIRONMENT = 'local'

# SECURITY WARNING: keep the pass for bibdb library updates in production secret!
BIBDB_UPDATE_PASS = 'password'

SURVEY_EDITING_LOCK_TIMEOUT_HOURS = 8