{% load i18n %}

<form role="form" class="edit-variable-form" method="post" action="{% url 'edit_variable' form.instance.id %}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans 'Stäng' %}</span></button>
        <h4 class="modal-title">{{form.instance.key}}</h4>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <span class="text-danger errors all"></span>
        <div class="form-group">
            <label for="id_category">{% trans "Huvudgrupp" %}</label>
            {{form.category}}
            <span class="text-danger errors category"></span>
        </div>
        <div class="form-group">
            <label for="id_sub_category">{% trans "Undergrupp" %}</label>
            {{form.sub_category}}
            <span class="text-danger errors sub_category"></span>
        </div>
        <div class="form-group">
            <label>{% trans "Enhet" %}</label>
            <div>
              {% for type_choice in form.type %}
                <label class="radio-inline">
                    {{type_choice.tag}}
                    {{type_choice.choice_label}}
                </label>
              {% endfor %}
            </div>
            <span class="text-danger errors type"></span>
        </div>
        <div class="form-group">
            <label>{% trans "Synlighet" %}</label>
            <div class="checkbox">
              {{form.is_public}}
              {% trans "Publik term, visas som öppen data" %}
            </div>
            <span class="text-danger errors is_public"></span>
        </div>
        <div class="form-group">
            <label>{% trans "Målgrupper" %}</label>
            <div>
              {% for target_group in form.target_groups %}
                <label class="checkbox-inline">
                  {{target_group.tag}}
                  {{target_group.choice_label}}
                </label>
              {% endfor %}
            </div>
            <span class="text-danger errors target_groups"></span>
        </div>
        <div class="form-group">
            <label for="description">{% trans "Beskrivning" %}</label>
            {{form.description}}
            <span class="text-danger errors description"></span>
        </div>
        <div class="form-group">
            <label for="comment">{% trans "Kommentar (visas ej publikt)" %}</label>
            {{form.comment}}
            <span class="text-danger errors comment"></span>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >{% trans "Avbryt" %}</button>
        <input type="submit" class="btn btn-primary" value="Spara ändringar" />
      </div>
      
    </div>
  </div>
</form>

<script type="text/javascript">
$(document).ready(function() { 
	$('.edit-variable-form').submit(function(event) {
		event.preventDefault();
		
		var self = this;
		$(self).find(".errors").text("");
	    
		$.ajax({ 
	    	type: $(this).attr('method'), 
	        url: this.action, 
	        data: $(this).serialize(),
	        context: this,
	        success: function(data, status) {
	        	if(data.errors) {
	        		$(self).find(".errors.category").text(data.errors.category);
	        		$(self).find(".errors.sub_category").text(data.errors.category);
	        		$(self).find(".errors.type").text(data.errors.type);
	        		$(self).find(".errors.is_public").text(data.errors.is_public);
	        		$(self).find(".errors.target_groups").text(data.errors.target_groups);
	        		$(self).find(".errors.description").text(data.errors.description);
	        		$(self).find(".errors.comment").text(data.errors.comment);
	        		$(self).find(".errors.all").text(data.errors.__all__);
	        	} else {
    	            console.info("saved variable: ", data)
    	            $('#editVariableModal').modal('hide')
    	            window.location.reload(true);
	        	}
	        }, 
	        error: function(data, status) {
	        	console.info("An error occured while saving variable!")
	        }
	    });
	    return false;
	});
});
</script>
