{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-page">
                <span class="panel-title">Inlägg</span>
                <span class="panel-subtitle">
                    {% if form.article %}
                    Här redigerar du ett existerande inlägg.
                    {% else %}
                    Här är skapar du ett nytt inlägg.
                    {% endif %}
                </span>
            </div>
            <form method="post" action="{% if form.article %} {% url 'article' form.article.pk %}
                                        {% else %} {% url 'article' %}
                                        {% endif %}">

                {% csrf_token %}

                <div class="panel-body">
                    <div class="row">
                        <div class="title col-md-6">
                            {{ form.title.label_tag }}
                            {{ form.title }}
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="content col-md-6">
                            {{ form.content.label_tag }}
                            {{ form.content }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Spara</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
