{% load i18n %}
{% load libstat_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Biblioteksstatistiken" %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/js/plugins/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Bootstrap Validator -->
    <link href="/static/js/plugins/bootstrap-validator/0.5.3/css/bootstrapValidator.css" rel="stylesheet"/>

    <!-- Tokenfield plugin with Typeahead support, order is important for these two! -->
    <link href="/static/js/plugins/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css" rel="stylesheet"/>
    <link href="/static/js/plugins/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css" rel="stylesheet"/>

    <!-- Bootstrap Datepicker -->
    <link href="/static/js/plugins/bootstrap-datepicker/1.3.0/css/datepicker3.css" rel="stylesheet"/>

    <!-- Font Awesome -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Libstat customizations -->
    <link href="/static/css/libstat.css" rel="stylesheet"/>

    <!-- Respond.js needs to be referenced after all other css to work properly -->
    <script src="/static/js/plugins/respond/1.4.2/respond.min.js" type="text/javascript"></script>
</head>

<body class="libstat" vocab="http://schema.org/">

{% if not hide_navbar %}
<div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">{% trans "KB Statistik" %}</a>
            </div>
            <div class="collapse navbar-collapse" id="top-main-nav">
                <ul class="nav navbar-nav">
                    <li class="{{ nav_start_css }}">
                        <a href="{% url 'index' %}">
                            {% trans "Start" %}
                        </a>
                    </li>
                    <li class="{{ nav_open_data_css }}">
                        <a href="{% url 'open_data' %}">
                            {% trans "Öppna data" %}
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        {% if user.is_superuser %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Administrera" %}
                                    <i class="caret"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{% url 'variables' %}">
                                            {% trans "Termer" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'surveys' %}">
                                            {% trans "Enkäter" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'dispatches' %}">
                                            {% trans "Utkorg" %}
                                            <span class="badge">{% dispatches_count %}</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="navbar-text">
                            {% trans "Inloggad som" %} {{ user.username }}
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                {% trans "Logga ut" %}
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a class="show-login-modal" href="#" data-toggle="modal" data-target="#loginModal">
                                {% trans "Logga in" %}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>

<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
    {% include "libstat/modals/login.html" %}
</div>

<script src="{% url 'js_reverse' %}" type="text/javascript"></script>
<script src="/static/js/plugins/requirejs/require.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
