{% extends "libstat/base.html" %}
{% load libstat_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-page">
                <span class="panel-title">Utkorg</span>
                <span class="panel-subtitle">Lista med de utkast som väntar på att skickas iväg.</span>
            </div>
            <div class="panel-body">
                {% if message %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="alert alert-info" role="alert">
                                {{ message|linebreaks }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="panel-dispatches">
                    <button class="btn btn-danger btn-toggle btn-delete disabled">{% trans "Ta bort" %}</button>
                    <button class="btn btn-primary btn-toggle btn-send disabled">{% trans "Skicka" %}</button>
                </div>
                <hr>
                <form action="" method="post" class="form-inline form-dispatches">
                    {% csrf_token %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="column selection">
                                <input title="{% trans 'Markera alla' %}" class="select-all"type="checkbox" value="all"/>
                            </th>
                            <th class="column">{% trans "Beskrivning" %}</th>
                            <th class="column">{% trans "Bibliotek" %}</th>
                            <th class="column">{% trans "Stad" %}</th>
                            <th class="column">{% trans "Email" %}</th>
                            <th class="column"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dispatch in dispatches %}
                            <tr>
                                <td><input title="{% trans 'Välj' %}" class="select-one" name="dispatch-ids" type="checkbox" value="{{ dispatch.id }}"/></td>
                                <td>{{ dispatch.description }}</td>
                                <td>{{ dispatch.library_name }}</td>
                                <td>{{ dispatch.library_city }}</td>
                                <td>{{ dispatch.library_email }}</td>
                                <td><a class="show-dispatch" href="#" data-title="{{ dispatch.title }}" data-message="{{ dispatch.message }}">Förhandsgranska</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

    <div class="modal modal-message fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"></h4>
                    </div>

                    <div class="modal-body"></div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}