{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    <style>
        .section-title {
            color: orange;
        }

        .section-comment {
            width: 100%;
            height: 100%;
        }

        .cell .input-group input {
            padding-right: 34px;
        }

        .cell .input-group-btn .btn-dropdown {
            border-radius: 0;
        }

        .cell .input-group input[disabled] {
            font-style: italic;
        }

        .row-description {
            display: flex;
            align-items: center;
        }

        .container-survey {
            padding-bottom: 120px;
        }

        .answers-progress {
            margin-bottom: 0;
        }

        .navbar-submit {
            margin-top: 10px;
        }

    </style>
    <div class="container container-survey">
        <div class="page-header">
            <h1>Statistikenkät för verksamhetsåret {{ form.sample_year }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="intro-text">
                    <p>Hej och välkommen!</p>

                    <p>Du har nu kommit till enkäten för Sveriges officiella biblioteksstatistik som gäller för alla
                        offentligt finansierade bibliotekstyper. Tanken med att använda samma formulär till alla
                        bibliotekstyper är att kunna presentera en samlad nationell biblioteksstatistik för offentligt
                        finansierade bibliotek.</p>

                </div>
            </div>
        </div>
        <hr>
        <form class="survey-content" id="survey-form" method="post">
            {% csrf_token %}
            {{ form.key }}
            {{ form.disabled_inputs }}
            {{ form.submit_action }}

            <h2 class="section-title">Om svarande organisation och person</h2>

            <div class="panel panel-default inverse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Namn</label>
                                {{ form.library_name }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kommun/län</label>
                                {{ form.municipality_name }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for section in form.sections %}
                <h2 class="section-title">{{ section.title }}</h2>
                {% for group in section.groups %}
                    <div class="panel panel-default inverse">
                        <div class="panel-body">
                            {% if group.description %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ group.description }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% if group.columns == 1 %}{% include "libstat/survey/col-1.html" %}{% endif %}
                            {% if group.columns == 2 %}{% include "libstat/survey/col-2.html" %}{% endif %}
                            {% if group.columns == 3 %}{% include "libstat/survey/col-3.html" %}{% endif %}
                            {% if group.columns == 4 %}{% include "libstat/survey/col-4.html" %}{% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <div class="navbar-left">
                        <div class="navbar-text">
                            <span class="answers-text">Du har svarat på 0 av 0 frågor totalt.</span>

                            <div class="progress answers-progress" style="width: 250px">
                                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-right navbar-submit">
                        <a href="#" id="save-survey-btn" class="btn btn-primary navbar-btn">Spara</a>
                        <a href="#" id="submit-survey-btn" class="btn btn-success navbar-btn">Skicka</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>
                        Är du säker på att du vill skicka in din enkät?
                    </p>

                    <p>
                        När du väl skickat in din enkät kommer vi börja behandla dina inskickade svar och du kommer
                        då inte längre kunna göra några ändringar.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger" data-dismiss="modal">Nej</a>
                    <a href="#" id="confirm-submit-survey-btn" class="btn btn-success">Ja</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}