{% extends "libstat/base/index.html" %}
{% load libstat_tags %}

{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <img src="/static/img/kb.svg" class="intro-logo">
                        <h1 class="intro-title">Sveriges officiella biblioteksstatistik</h1>
                        <p class="intro-text">Den officiella biblioteksstatistiken visar uppgifter om de offentligt finansierade bibliotekens verksamhet. Alla bibliotekstyper som finansieras av staten, en kommun eller ett landsting ingår.</p>

                        <ul class="list-inline intro-buttons">
                            <li><a href="#articles" class="btn btn-articles btn-lg scroll"><i class="fa fa-newspaper-o fa-fw"></i> Om statistiken</a></li>
                            <li><a href="#reports" class="btn btn-reports btn-lg scroll"><i class="fa fa-line-chart fa-fw"></i> Rapporter</a></li>
                            <li><a href="#opendata" class="btn btn-opendata btn-lg scroll"><i class="fa fa-database fa-fw"></i> Öppna data</a></li>
                            <li><a href="#moreinfo" class="btn btn-moreinfo btn-lg scroll"><i class="fa fa-info-circle fa-fw"></i> Läs mer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="container section">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 id="articles" class="section-title"><i class="fa fa-newspaper-o fa-fw color-articles"></i> Om statistiken</h2>
                <p class="section-text">Regeringen utsåg 2011 KB till statistikansvarig myndighet för den officiella biblioteksstatistiken. Statistiken samlas in varje år och gäller då det föregående kalenderåret.</p>
                <a href="#articles-section" class="btn btn-articles btn-lg scroll-section">Läs mer om statistiken</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 id="reports" class="section-title"><i class="fa fa-line-chart fa-fw color-reports"></i> Rapporter</h2>
                <p class="section-text">Utifrån publicerad data finns möjligheten att ta fram rapporter för biblioteksverksamheten. Dessa verksamhetsrapporter kan tas fram för hela landet, för ett län eller för en kommun.</p>
                <a href="{% url "reports" %}" class="btn btn-reports btn-lg">Till rapporterna &raquo;</a>
            </div>
        </div>
    </section>

    <section class="container section">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 id="opendata" class="section-title"><i class="fa fa-database fa-fw color-opendata"></i> Öppna data</h2>
                <p class="section-text">För att göra insamlad data mer tillgänglig för allmänheten, så går all publicerad data att komma åt som öppna data. Det är denna data som används för verksamhetsrapporterna.</p>
                <a href="#opendata-section" class="btn btn-opendata btn-lg scroll-section">Läs mer om öppna data</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 id="moreinfo" class="section-title"><i class="fa fa-info-circle fa-fw color-moreinfo"></i> Läs mer</h2>
                <p class="section-text">Om du är nyfiken och vill veta mer om biblioteksstatistik, så finns det mycket att läsa på <a href="{{ blog_url }}">Biblioteksstatistikbloggen</a>. Där publiceras fortlöpande information runt insamlingarna.</p>
                <a href="{{ blog_url }}" class="btn btn-moreinfo btn-lg">Vidare till bloggen &raquo;</a>
            </div>
        </div>
    </section>

    <section id="articles-section" class="container section section-toggle hidden">
        <hr class="section-separator">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-articles">
                <h2 class="section-title"><i class="fa fa-newspaper-o fa-fw color-articles"></i> Om statistiken</h2>
                <p class="subsection-text" style="margin-bottom: 0;">Regeringen utsåg 2011 KB till statistikansvarig myndighet för den officiella biblioteksstatistiken. Statistiken samlas in varje år och gäller då det föregående kalenderåret. De bibliotek som ingår i den officiella bibliotekstatistiken är de offentligt finansierade biblioteken. Från och med den statistik som samlas in under 2015 har de variabler som efterfrågas och urvalsramen förändrats något jämfört med tidigare år.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-articles">
                <p class="subsection-text">Det finns idag 27 myndigheter i Sverige som är ansvariga för officiell statistik, varav KB och Statistiska centralbyrån (SCB) är två. SCB har också ansvar för att samordna och stödja systemet för den officiella statistiken. Läs mer om vad officiell statistik är och <a href="http://www.scb.se/Pages/List____250770.aspx">Rådet för den officiella statistiken</a> på SCB:s webbplats.</p>
                <p class="subsection-text">Sveriges officiella statistik regleras av Lagen om den officiella statistiken (<a href="http://www.notisum.se/rnp/sls/lag/20010099.htm">SFS 2001:99</a>) och Förordningen om den officiella statistiken (<a href="http://www.notisum.se/rnp/sls/lag/20010100.htm">SFS 2001:100</a>). I statistiksystemet har biblioteksstatistiken produktkod KU0105. En förändring av Lagen om den officiella statistiken trädde i kraft 2013. <a href="http://www.scb.se/sv_/Om-SCB/Sveriges-officiella-statistik/Statistikansvariga-myndigheter/">Myndigheter</a> som har ansvar för Sveriges officiella statistik har bland annat ansvar för att</p>
                <p class="subsection-text">§ statistiken är objektiv<br>§ statistiken dokumenteras<br>§ statistiken kvalitetsdeklareras</p>
                <p class="subsection-text">Den officiella statistiken ska utan avgift finnas tillgänglig i elektronisk form. All officiell statistik ska ha beteckningen officiell statistik eller märkas med symbolen</p>
                <img src="/static/img/logo-statistics.jpg" style="margin-bottom: 10px;">
                <p class="subsection-text">Observera att beteckningen eller symbolen inte får användas vid vidarebearbetningar av den officiella statistiken.</p>
                <p class="subsection-text">Det är upp till var och en av de statistikansvariga myndigheterna att utfärda regler uppgiftsskyldighet för officiell statistik. Om statistik inte besvaras där det föreligger uppgiftsskyldighet kan detta medföra böter. KB har inte utfärdat någon sådan regel.</p>
                <p class="subsection-text">Produktionen av officiell statistik följer ett särskilt regelverk som verkar för statistiken kvalitet och generaliserbarhet. Eftersom många delar av Sveriges officiella statistik ingår i EUs statistiksystem följer också den officiella statistiken ”European statistics code of practice”.</p>
                <p class="subsection-text">Biblioteksstatistiken har under åren publicerats på olika sätt, <a href="http://www.kb.se/bibliotek/Statistik-kvalitet/biblioteksstatistik/">här finns en länk om du vill nå lite äldre statistik.</a></p>
                <p class="subsection-text" style="margin-bottom: 0;">Om man är extra intresserad över enkätens utformning så finns det en <a href="{% url 'example_survey' %}">exempelenkät</a> tillgänglig.</p>
            </div>
        </div>
    </section>

    <section id="opendata-section" class="container section section-toggle hidden">
        <hr class="section-separator">

        <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-opendata">
                <h2 class="section-title"><i class="fa fa-database fa-fw color-opendata"></i> Öppna data</h2>
                <p class="subsection-text">
                    Den officiella biblioteksstatistiken finns tillgänglig som öppen länkad data via Kungliga
                    Bibliotekets API:er. Data finns för folkbibliotek, forskningsbibliotek, sjukhusbibliotek
                    och skolbibliotek från år 2010 och framåt i samma utsträckning som de dokument som finns
                    presenterade på
                    <a href="http://www.kb.se/bibliotek/Statistik-kvalitet/biblioteksstatistik">Kungliga
                        bibliotekets webbplats</a>.
                    Gränssnittet mot den öppna datan är för tillfället under utveckling och kan komma att ändras i framtiden.
                </p>
                <p class="subsection-text" style="margin-bottom: 0;">
                    Format: <a property="void:feature" href="http://www.w3.org/ns/formats/JSON-LD">JSON-LD</a>
                    / Licens: <a property="publishingPrinciples dc:license"
                                 href="http://creativecommons.org/publicdomain/zero/1.0/">
                    <abbr lang="sv" title="Creative Commons Zero">CC0</abbr></a>
                    / <span property="provider" typeof="Person" class="subsection-text">
                      Kontaktperson:
                    <span property="name"><a href="mailto:biblioteksstatistik@kb.se?subject=Fråga om öppna data">Peter Krantz</a></span></span>
                </p>
            </div>

            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-opendata">
                <h3 class="subsection-title">Biblioteksstatistik <small>BETA</small></h3>
                <dl id="data-params">
                    <dt>Innehåll</dt>
                    <dd>
                            Observationer för den officiella svenska biblioteksstatistiken. En observation är en
                            mätpunkt för
                            ett bibliotek/en organisation, ett mätår och en term. API finns för att hämta en
                            lista av termdefinitioner.
                    </dd>
                    <dt>URL</dt>
                    <dd>
                        {{ api_base_url }}/data?term=Term&amp;date_from=YYYY-MM-DDTHH:mm:ss&amp;date_to=YYYY-MM-DDTHH:mm:ss&amp;limit=limit&amp;offset=offset
                    </dd>
                    <dt>Parameter: term</dt>
                    <dd>
                            Hämta endast observationer för en viss term, ex: Folk54. Anges ingen term så hämtas
                            observationer för samtliga termer.
                    </dd>
                    <dt>Parameter: date_from</dt>
                    <dd>
                            Hämta endast observationer som uppdaterats från och med ett visst datum, ex:
                            2014-07-03T07:39:27.
                            Datum anges formatterat enligt ISO-8601, tidszon är alltid UTC och behöver inte
                            anges.
                            Anges inte parametern 'date_from' så hämtas samtliga observationer oavsett
                            uppdateringsdatum.
                    </dd>
                    <dt>Parameter: date_to</dt>
                    <dd>
                            Hämta endast observationer som uppdaterats innan ett visst datum, ex:
                            2014-07-03T07:39:28.
                            Datum anges formatterat enligt ISO-8601, tidszon är alltid UTC och behöver inte
                            anges.
                            Anges inte parametern 'date_to' så hämtas samtliga observationer oavsett
                            uppdateringsdatum.
                    </dd>
                    <dt>Parameter: limit</dt>
                    <dd>
                            Använd för att begränsa antalet returnerade observationer och kan kombineras med
                            parametern 'offset' för att paginera resultatet, ex: 50.
                            Anges inte parametern 'limit' så returneras 100 observationer.
                    </dd>
                    <dt>Parameter: offset</dt>
                    <dd>
                            Används för att paginera ett resultat och anger vilken position i resultatet som ska
                            vara första returnerade observation, ex: 200.
                            Anges inte parametern 'offset' så börjar resultatet från position 0.
                    </dd>
                </dl>
            </div>

            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-opendata">
                <h3 class="subsection-title">Termer <small>BETA</small></h3>
                <dl id="data-params">
                    <dt>Innehåll</dt>
                    <dd>
                            Definitioner av de termer som används i biblioteksstatistiken.
                    </dd>
                    <dt>URL</dt>
                    <dd>
                        {{ api_base_url }}/def/terms
                    </dd>
                </dl>
            </div>

            <div class="col-xs-12 col-sm-10 col-lg-8 subsection-opendata">
                <h3 class="subsection-title">Excel <small>BETA</small></h3>
                <p class="subsection-text-opendata">Utöver möjligheten att använda Kungliga Bibliotekets API:er, så kan öppna data hämtas i Excel-format. Genom att välja ett verksamhetsår nedan, så kan alla öppna data för det valda året laddas ned genom att trycka på Hämta-knappen.</p>

                <form class="form form-inline" method="get" action="{% url "export_api" %}">
                    <select name="sample_year" class="form-control">
                        {% for year in open_data_years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-opendata">Hämta</button>
                </form>
            </div>
        </div>
    </section>

    <section class="container section">
        <hr>

        {% for chunk in articles|chunks:2 %}
            <div class="row {% if forloop.counter > 2 %}row-article hidden{% endif %}">
                {% for article in chunk %}
                    <div class="col-xs-12 col-sm-6 subsection-article">
                        <h2 class="subsection-title">{{ article.title }}</h2>
                        <p class="subsection-text">{{ article.content }}</p>
                        <p class="subsection-footer"><i>Publicerad {{ article.date_published }}.</i></p>
                    </div>
                {% endfor %}
            </div>

            {% if forloop.counter == 3 %}
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-lg btn-articles-expand"><i class="fa fa-plus-circle fa-fw"></i> Visa tidigare inlägg</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    <a href="{% url "admin" %}">Administrera Biblioteksstatistiken</a>
{% endblock %}