{% extends "libstat/base/index.html" %}
{% load libstat_tags %}

{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <img src="/static/img/kb.svg" class="intro-logo" alt="Kungliga Bibliotekets logotyp">
                        <h1 class="intro-title">{{ front_introtext.title }}</h1>
                        {% autoescape off %}
                            {{ front_introtext.content }}
                        {% endautoescape %}
                        <ul class="list-inline intro-buttons">
                            <li><a href="#articles" class="btn btn-articles btn-lg scroll"><i class="fa fa-newspaper-o fa-fw"></i> Om statistiken</a></li>
                            <li><a href="#reports" class="btn btn-reports btn-lg scroll"><i class="fa fa-line-chart fa-fw"></i> Rapporter</a></li>
                            <li><a href="#opendata" class="btn btn-opendata btn-lg scroll"><i class="fa fa-database fa-fw"></i> Öppna data</a></li>
                            <li><a href="#moreinfo" class="btn btn-moreinfo btn-lg scroll"><i class="fa fa-info-circle fa-fw"></i> Läs mer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="container section">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 id="articles" class="section-title"><i class="fa fa-newspaper-o fa-fw color-articles"></i> {{ statistics_introtext.title }}</h2>
                {% autoescape off %}
                    {{ statistics_introtext.content }}
                {% endautoescape %}
                <a href="#articles-section" class="btn btn-articles btn-lg scroll-section">Läs mer om statistiken</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 id="reports" class="section-title"><i class="fa fa-line-chart fa-fw color-reports"></i> {{ reports_introtext.title }}</h2>
                {% autoescape off %}
                    {{ reports_introtext.content }}
                {% endautoescape %}
                <a href="{% url "reports" %}" class="btn btn-reports btn-lg">Till rapporterna &raquo;</a>
            </div>
        </div>
    </section>

    <section class="container section">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 id="opendata" class="section-title"><i class="fa fa-database fa-fw color-opendata"></i> {{ open_data_introtext.title }}</h2>
                {% autoescape off %}
                    {{ open_data_introtext.content }}
                {% endautoescape %}
                <a href="#opendata-section" class="btn btn-opendata btn-lg scroll-section">Läs mer om öppna data</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h2 id="moreinfo" class="section-title"><i class="fa fa-info-circle fa-fw color-moreinfo"></i> {{ read_more_introtext.title }}</h2>
                {% autoescape off %}
                    {{ read_more_introtext.content }}
                {% endautoescape %}
                <a href="{{ blog_url }}" class="btn btn-moreinfo btn-lg">Vidare till bloggen &raquo;</a>
            </div>
        </div>
    </section>

    <section id="articles-section" class="container section section-toggle hidden">
        <hr class="section-separator">

        <!-- This template is edited and saved via cms functionality. Go to adminpages/publications to edit html content. -->
        {% include 'libstat/index/statistics_info.html' %}

    </section>

    <section id="opendata-section" class="container section section-toggle hidden">
        <hr class="section-separator">

        <!-- This template is edited and saved via cms functionality. Go to adminpages/publications to edit html content. -->
        {% include 'libstat/index/open_data_info.html' %}

    </section>


    <section class="container section">
        <hr>

        {% for chunk in correction_articles|chunks:2 %}
            <div class="row {% if forloop.counter > 2 %}row-article hidden{% endif %}">
                {% for correction_article in chunk %}
                    <div class="col-xs-12 col-sm-6 subsection-article">
                        <h2 class="subsection-title">{{ correction_article.title }}</h2>
                        <p class="subsection-text">{{ correction_article.content }}</p>
                        <p class="subsection-footer"><i>Publicerad {{ correction_article.date_published }}.</i></p>
                    </div>
                {% endfor %}
            </div>

            {% if forloop.counter == 3 %}
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-lg btn-articles-expand"><i class="fa fa-plus-circle fa-fw"></i> Visa tidigare inlägg</button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}

{% block footer %}
    <a href="{% url "admin" %}">Administrera Biblioteksstatistiken</a>
{% endblock %}
