{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Bibliotek</h3>
		</div>
		<div class="panel-body">
			<p>
				Här visas alla bibliotek som importerats från <a href="http://bibdb.libris.kb.se">biblioteksdatabasen</a>.
			</p>
			<form action="{% url 'libraries' %}" method="POST" role="form" class="form-inline">
				{% csrf_token %}
				<div class="form-group">
					{{ form.sample_year }}
					<button type="submit" name="save_selection_btn" class="btn btn-primary btn-toggle">Spara urval</button>
                    <a href="#" class="btn btn-primary btn-toggle" data-toggle="modal" data-target="#modal-create">Skapa enkäter</a>
				</div>
				<span class="pull-right">
					<div class="form-group">
						<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-import">Importera</a>
					</div>
					<div class="form-group">
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#modal-remove">Rensa</a>
					</div>
				</span>
				<hr>
				<table class="table libraries">
					<thead>
						<tr>
							<th class="column selection">
								<input title="{% trans 'Markera alla' %}" class="select-all"
								type="checkbox" value="all"/>
							</th>
							<th class="column">Namn</th>
							<th class="column">Kommunkod</th>
							<th class="column">Adress</th>
							<th class="column">Bibliotekstyp</th>
							<th class="column">Email</th>
						</tr>
					</thead>
					<tbody>
						{% for library in form.libraries %}
						<tr>
							<td>
								{% with key=library.checkbox_id %}
									{{ form|access:key }}
								{% endwith %}
							</td>
							<td>
								<a href="http://bibdb.libris.kb.se/library/{{ library.sigel }}">
									{{ library.name }}
								</a>
							</td>
							<td>
								{{ library.municipality_code }}
							</td>
							<td>
								{{ library.address }}
							</td>
							<td>
								{{ library.library_type }}
							</td>
							<td>
								{{ library.email }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

                <div class="modal fade" id="modal-create">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Bekräfta skapandet av enkäter</h4>
                            </div>
                            <div class="modal-body">
                                Vill du skapa enkäter för de markerade biblioteken?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                                <button type="submit" name="create_surveys_btn" class="btn btn-primary">Skapa enkät</button>
                            </div>
                        </div>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="modal-import">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Bekräfta importering</h4>
            </div>
            <div class="modal-body">
                <p>Denna åtgärd importerar information om alla bibliotek från biblioteksdatabasen.<br>Uppdateringen kan ta några minuter att genomföra.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <a href="{% url 'import_libraries' %}" class="btn btn-primary">Importera</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-remove">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Bekräfta rensning</h4>
			</div>
			<div class="modal-body">
				<p>Denna åtgärd tar bort informationen om alla bibliotek.<br>Ingen information tas bort från biblioteksdatabasen.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
				<a href="{% url 'remove_libraries' %}" class="btn btn-danger">Rensa</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
