{% extends "libstat/base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron">
            <h1>{% trans "Öppen data" %}</h1>
            <p>
              {% blocktrans %}
              Den officiella biblioteksstatistiken finns tillgänglig som öppen länkad data via Kungliga Bibliotekets API:er.
              Här kommer snart en beskrivning av API:ernas uppbyggnad och vilka URL:er som kan användas.
              {% endblocktrans %}</p>
          </div>
          <!-- 
          <div class="row">
            <div class="col-1 col-sm-12 col-lg-12">
              <h2>Rubrik</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">{% trans "Läs mer" %} &raquo;</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 col-sm-12 col-lg-12">
              <h2>Rubrik</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">{% trans "Läs mer" %} &raquo;</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 col-sm-12 col-lg-12">
              <h2>Rubrik</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-default" href="#" role="button">{% trans "Läs mer" %} &raquo;</a></p>
            </div>
          </div>
          -->
        </div>

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item">{% trans "Folkbiblioteken" %}</a>
            <a href="#" class="list-group-item">{% trans "Forskningsbiblioteken" %}</a>
            <a href="#" class="list-group-item">{% trans "Sjukhusbiblioteken" %}</a>
            <a href="#" class="list-group-item">{% trans "Skolbiblioteken" %}</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; {% trans "Kungliga Biblioteket" %} 2014</p>
      </footer>

  </div>
{% endblock %}

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/plugins/bootstrap/3.1.1/js//offcanvas.js"></script>