{% extends "libstat/base.html" %}
{% load libstat_tags %}
{% load i18n %}

{% block content %}
    <style>
        .observation-group {
            margin-bottom: 50px;
        }

        .report {
            width: 800px;
            margin: 0px auto;
            padding-top: 30px;
            padding-bottom: 70px;
        }

        th {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        th, td {
            padding-left: 15px;
            padding-right: 15px;
        }

        td {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        .even td:not(.observation-data-missing) {
            background-color: #f2f2f2;
        }

        th.observation-label {
            background-color: rgb(255, 163, 56);
            color: white;
        }

        th.observation-previous-year {
            color: white;
            background-color: rgb(239, 131, 24);
            width: 85px;
        }

        th.observation-sample-year {
            color: white;
            background-color: rgb(220, 110, 16);
            width: 85px;
        }

        th.observation-difference {
            color: white;
            text-align: center;
            background-color: rgb(42, 176, 204);
            width: 110px;
        }

        .observation-label {
            width: 500px;
        }

        .report-title {
            border-bottom: 5px solid black;
            font-size: 40px;
            font-family: helvetica;
            width: auto;
            text-align: center;

        }

        .libraries-label {
            font-size: 17px;
            font-family: helvetica;
            margin-top: 30px;
            margin-bottom: 5px;
        }

        .libraries {
            border-left: 8px solid black;
            padding-left: 15px;
            margin-bottom: 30px;
        }

        .libraries .library {
            padding-bottom: 7px;
            padding-top: 7px;
            font-size: 20px;
            font-family: helvetica;
        }

    </style>
    <div class="report">
        <div class="report-title">Verksamhetsrapport för året {{ year }}</div>

        <div>
            <div class="libraries-label">Serviceställen:</div>
            <div class="libraries">
                {% for library in libraries %}
                    <div class="library">{{ library.name }} ({{ library.city }}, {{ library.address }})</div>
                {% endfor %}
            </div>
        </div>
        {% for group in measurements %}
            <div class="observation-group">
                <table class="observation">
                    {% for row in group %}
                        {% if forloop.first %}
                            <tr>
                                <th class="observation-label">{{ row.0 }}</th>
                                <th class="observation-previous-year">År {{ row.1 }}</th>
                                <th class="observation-sample-year">År {{ row.2 }}</th>
                                <th class="observation-difference">Förändring {{ row.1 }} - {{ row.2 }}</th>
                            </tr>
                        {% else %}
                            <tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                                <td class="observation-label">{{ row.0 }}</td>
                                <td class="observation-previous-year">{{ row.1|floatformat|default:"-" }}</td>
                                <td class="observation-sample-year">{{ row.2|floatformat|default:"-" }}</td>
                                <td class="observation-difference">-</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}