{% extends "libstat/base/index.html" %}
{% load libstat_tags %}

{% block content %}
    <header class="intro intro-fixed">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <img class="intro-logo" src="/static/img/kb.svg">

                        <h1 class="intro-title">Biblioteksstatistik</h1>
                        <a href="{{ previous_url }}" class="btn btn-reports btn-lg">
                            <i class="fa fa-arrow-circle-left fa-fw"></i> Till rapportvalen
                        </a>
                        <a href="{% url "index" %}" class="btn btn-reports btn-lg">
                            <i class="fa fa-arrow-circle-left fa-fw"></i> Till startsidan</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="report">
        <h2 class="section-title scroll-start">Verksamhetsrapport {{ year }}</h2>
        {% if municipality_code or principal %}
            <p class="section-text">Denna rapport gäller för:</p>
            <div class="row library-section">
                <div class="col-md-10 libraries">
                    <div class="library">
                        alla bibliotek
                        {% if municipality_code and not principal %}
                            i <strong>{{ municipality_code|municipality_name|upper }}</strong>.
                        {% elif not municipality_code and principal %}
                            med huvudman <strong>{{ principal|upper }}</strong>.
                        {% else %}
                            i <strong>{{ municipality_code|municipality_name|upper }}</strong> med huvudman
                            <strong>{{ principal|upper }}</strong>.
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="section-text">Denna rapport gäller för bibliotek:</p>
            <div class="row library-section">
                <div class="col-md-6 libraries">
                    {% for library in libraries|two_parts|first %}
                        <div class="library">
                            {{ library.name }}{% if library.address %} | {{ library.address }}{% endif %}
                            {% if library.city %} |
                                {{ library.city }}{% endif %}</div>
                    {% endfor %}
                </div>
                {% if libraries|two_parts|last|length > 0 %}
                    <div class="col-md-6 libraries">
                        {% for library in libraries|two_parts|last %}
                            <div class="library">
                                {{ library.name }}{% if library.address %} | {{ library.address }}{% endif %}
                                {% if library.city %} |
                                    {{ library.city }}{% endif %}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}

        <div class="row report-legend">
            <span>&mdash; = Värdet går inte att få fram</span>

            <span><i class="fa fa-asterisk fa-small incomplete-data"></i> = Värdet har inte angivits av alla bibliotek</span>

            <span><span class="example-key-figure"></span> = Beräknat nyckeltal</span>

            <span><span class="example-total"></span> = Totalbelopp</span>

            <span class="print-report"><a class="fa fa-print" href="javascript:if(window.print)window.print()"></a></span>
        </div>
        <div class="row measurements">
            {% for group in measurements %}
                <div class="observation-group">
                    <table class="observation">
                        <tr>
                            <th class="observation-label">{{ group.title }}</th>
                            <th class="observation-previous-previous-year">{{ group.years.0 }}</th>
                            <th class="observation-previous-year">{{ group.years.1 }}</th>
                            <th class="observation-sample-year">{{ group.years.2 }}</th>
                            <th class="observation-difference">Utveckling<br>{{ group.years.1 }} - {{ group.years.2 }}</th>
                           <!-- <th class="observation-difference-total">Andel av riket</th> -->
                            <th class="observation-extra">{{ group.extra|default:"" }}</th>
                        </tr>
                        {% for row in group|access:"rows" %}
                            {% if row.label_only %}
                                {% if row.label %}
                                    <tr class="label-only">
                                        {% else %}
                                    <tr class="empty">
                                {% endif %}
                            <td class="observation-label">{{ row.label }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            </tr>
                            {% else %}
                                <tr class="{% if row.is_key_figure %} key-figure
                                           {% elif row.is_sum %} sum
                                           {% endif %}
                                           {% if forloop.counter|divisibleby:2 %} even
                                           {% else %} odd
                                           {% endif %}">
                                    <td class="observation-label">
                                        {{ row|access:"label" }}
                                        {% if row|access:"description" %}
                                            <a type="button" class="report-explanation btn-help"
                                               href="#"
                                               tabindex="-1"
                                               data-toggle="popover" data-placement="top"
                                               data-content="{{ row|access:"description" }}"
                                               data-trigger="click">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="observation-previous-previous-year">
                                        {% if row|access:group.years.0 != None %}
                                            {% if row.percentage %}
                                                {{ row|access:group.years.0|format_percentage }}
                                            {% else %}
                                                {{ row|access:group.years.0|format_number }}
                                            {% endif %}
                                            {% if group.years.0 in row|access:'incomplete_data' %}
                                                <i class="fa fa-asterisk fa-small incomplete-data"></i>
                                            {% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                    <td class="observation-previous-year">
                                        {% if row|access:group.years.1 != None %}
                                            {% if row.percentage %}
                                                {{ row|access:group.years.1|format_percentage }}
                                            {% else %}
                                                {{ row|access:group.years.1|format_number }}
                                            {% endif %}
                                            {% if group.years.1 in row|access:'incomplete_data' %}
                                                <i class="fa fa-asterisk fa-small incomplete-data"></i>
                                            {% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                    <td class="observation-sample-year">
                                        {% if row|access:group.years.2 != None %}
                                            {% if row.percentage %}
                                                {{ row|access:group.years.2|format_percentage }}
                                            {% else %}
                                                {{ row|access:group.years.2|format_number }}
                                            {% endif %}
                                            {% if group.years.2 in row|access:'incomplete_data' %}
                                                <i class="fa fa-asterisk fa-small incomplete-data"></i>
                                            {% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                    <td class="observation-difference">
                                        {% if row.diff != None %}
                                            {% if row.diff < 0 and row.diff > -1 %}
                                                0%
                                            {% else %}
                                                {{ row.diff|floatformat:"0" }}%
                                            {% endif %}
                                            {% if group.years.2 in row|access:'incomplete_data' or group.years.1 in row|access:'incomplete_data' %}
                                                <i class="fa fa-asterisk fa-small incomplete-data"></i>
                                            {% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                   <!-- <td class="observation-difference-total">
                                        {% if row.nation_diff != None %}
                                            {{ row.nation_diff|floatformat:"0" }}&permil;
                                            {% if group.years.2 in row|access:'incomplete_data' %}
                                                <i class="fa fa-asterisk fa-small incomplete-data"></i>
                                            {% endif %}
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>-->
                                    <td class="observation-extra">
                                        {% if row.extra %}
                                            {{ row.extra|floatformat:"0"|default:"-" }}%
                                        {% else %}
                                            &mdash;
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                {% if group.show_chart %}
                    <div id="chart-{{ forloop.counter }}"
                         class="chart"
                         data-years="{{ group.years|as_json }}"
                         data-chart='{{ group.rows|show_in_chart|as_json }}'></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
