{% extends "libstat/base.html" %}
{% load libstat_tags %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-page">
                <span class="panel-title">Verksamhetsrapporter</span>
                <span class="panel-subtitle">
                    Här finns möjligheten att ta ut olika typer av rapporter för biblioteksverksamheten.
                </span>
            </div>
            <div class="panel-body">
                Hello World
            </div>
        </div>
    </div>
{% endblock %}
