{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    <div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Enkäter</h3>
        </div>
        <div class="panel-body">
            <p>
                Här listas alla enkäter som finns i biblioteksstatistiken.
            </p>
            <p>
                <b>Filtrera enkäter</b>
            </p>
            {% if message %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="alert alert-info" role="alert">
                            {{ message|linebreaks }}
                        </div>
                    </div>
                </div>
            {% endif %}
            <form action="" method="GET" role="form" class="form-inline">
            {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <select name="sample_year" class="form-control" value={{ sample_year }}>
                                {% if not sample_years %}
                                    <option value="" selected="selected">
                                        Välj år
                                    </option>
                                {% endif %}
                                {% for year in sample_years %}
                                    <option value="{{ year }}"
                                            {% ifequal year|slugify sample_year %}
                                            selected="selected"
                                            {% endifequal %}>
                                        {{ year }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="municipality_code" class="form-control" value={{ municipality_code }}>
                                <option value=""
                                        {% if not municipality_code %}
                                        selected="selected"
                                        {% endif %}>
                                    Alla kommunkoder
                                </option>
                                {% for code in municipality_codes %}
                                    <option value="{{ code }}"
                                            {% ifequal code|slugify municipality_code %}
                                            selected="selected"
                                            {% endifequal %}>
                                        {{ code }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="target_group" class="form-control" value="{{ target_group }}">
                                <option value=""
                                        {% if not target_group %}
                                        selected="selected"
                                        {% endif %}>
                                    Alla bibliotekstyper
                                </option>
                                {% for group in target_groups %}
                                    <option value="{{ group.0 }}"
                                            {% ifequal group.0 target_group %}
                                            selected="selected"
                                            {% endifequal %}>
                                        {{ group.1 }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="status" class="form-control" value="{{ status }}">
                                <option value=""
                                        {% if not status %}
                                        selected="selected"
                                        {% endif %}>
                                    Alla status
                                </option>
                                <option value="not_viewed"
                                        {% ifequal status "not_viewed" %}
                                        selected="selected"
                                        {% endifequal %}>
                                    Ej öppnad
                                </option>
                                <option value="initiated"
                                        {% ifequal status "initiated" %}
                                        selected="selected"
                                        {% endifequal %}>
                                    Påbörjad
                                </option>
                                <option value="submitted"
                                        {% ifequal status "submitted" %}
                                        selected="selected"
                                        {% endifequal %}>
                                    Inskickad
                                </option>
                                <option value="controlled"
                                        {% ifequal status "controlled" %}
                                        selected="selected"
                                        {% endifequal %}>
                                    Kontrollerad
                                </option>
                                <option value="published"
                                        {% ifequal status "published" %}
                                        selected="selected"
                                        {% endifequal %}>
                                    Publicerad
                                </option>
                            </select>
                            <!--input type="text" name="free-text" class="form-control" placeholder="Sökord"-->
                            <button type="submit" name="action" value="list"
                                    class="btn btn-primary">
                                Lista enkäter
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                {% if survey_responses %}
                    <div class="row surveys-actions">
                        <div class="col-md-12">
                            <div class="form-group">
                                <a href="#" class="btn btn-danger btn-toggle btn-survey disabled" data-toggle="modal"
                                   data-target="#confirm-remove-modal">
                                    Ta bort
                                </a>
                                <a href="#" class="btn btn-primary btn-toggle btn-survey disabled" data-toggle="modal"
                                   data-target="#change-status-modal">
                                    Ändra status
                                </a>
                                <a href="#" class="btn btn-primary btn-toggle btn-survey btn-dispatch disabled">
                                    Nytt utskick
                                </a>
                                <a href="#" class="btn btn-primary btn-toggle btn-survey disabled" data-toggle="modal"
                                   data-target="#confirm-publish-modal">
                                    Publicera
                                </a>
                                <a href="#" name="action" value="export"
                                        class="btn btn-primary btn-toggle btn-survey btn-export disabled">
                                    Exportera
                                </a>
                            </div>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <div class="btn btn-label disabled">
                                        Antal sökträffar: {{ survey_responses|length }}
                                    </div>
                                    <a class="btn btn-label" href="{% url 'surveys_overview' sample_year %}">
                                        Visa översikt av insamlingen {{ sample_year }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-remove-modal" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Är du säker på att du vill ta bort de markerade enkäterna? Denna åtgärd kan inte
                                    ångras.
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-danger" data-dismiss="modal">Nej</a>
                                    <button class="btn btn-success btn-remove">Ja</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirm-publish-modal" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Är du säker på att du vill publicera de markerade enkäterna?
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-danger" data-dismiss="modal">Nej</a>
                                    <button class="btn btn-success btn-publish">Ja</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endif %}
            </form>
        </div>
        <form id="form-surveys" action="" method="POST" role="form"
              class="form-inline publish-survey-responses-form">
            {% if survey_responses %}
                {% csrf_token %}
                <input type="hidden" name="sample_year" value="{{ sample_year }}"/>
                <input type="hidden" name="target_group" value="{{ target_group }}"/>
                <input type="hidden" name="status" value="{{ status }}"/>
            {% endif %}
            <table class="table survey_responses">
                <thead>
                <tr>
                    <th class="column selection">
                        <input title="Markera alla" class="select-all"
                               type="checkbox" value="all"/>
                    </th>
                    <th class="column status">Status</th>
                    <th class="column published">Publicerad</th>
                    <th class="column sample_year">Kommunkod</th>
                    <th class="column library">Bibliotek</th>
                    <th class="column target_group">Bibliotekstyp</th>
                    <th class="column actions"></th>
                </tr>
                </thead>
                <tbody>
                {% if survey_responses %}
                    {% for sr in survey_responses %}
                        <tr>
                            <td>
                                <input title="Välj" class="select-one" name="survey-response-ids"
                                       type="checkbox" value="{{ sr.id }}" data-library="{{ sr.library.name }}"
                                       data-address="{% url 'survey' sr.id %}" data-url-base="{{ url_base }}"/>
                            </td>
                            <td>
                                {{ sr.status|srs_label|default:"" }}
                            </td>
                            <td>
                                {% if sr.is_published and not sr.latest_version_published %}
                                    <a class="label label-danger modified-after-publish" title="" data-placement="top"
                                       data-toggle="tooltip" href="#" data-original-title="Enkäten har ändrats efter publicering">
                                        {{ sr.published_at|utc_tz|date:"Y-m-d H:i" }}
                                    </a>
                                {% else %}
                                    <span>
                                        {{ sr.published_at|utc_tz|date:"Y-m-d H:i" }}
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                {{ sr.library.municipality_code|default:"" }}
                            </td>
                            <td>
                                {% if sr.library and sr.library.sigel %}
                                    <a href="{{ bibdb_library_base_url }}/{{ sr.library.sigel }}">
                                        {{ sr.library.name|default:"" }}
                                    </a>
                                {% else %}
                                    {{ sr.library.name|default:"" }}
                                {% endif %}
                            </td>
                            <td>
                                {{ sr.target_group|tg_label|default:"" }}
                            </td>
                            <td>
                                <a title="Visa/redigera enkätsvar"
                                   href="{% url 'survey' sr.id %}">
                                    Visa/redigera
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <div class="modal fade" id="change-status-modal" tabindex="-1" role="dialog"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <p>
                                        Välj vilken status de markerade enkäterna ska få.
                                    </p>
                                    <select name="new_status" class="form-control">
                                        <option value="" selected="selected">
                                            Status
                                        </option>
                                        <option value="not_viewed">
                                            Ej öppnad
                                        </option>
                                        <option value="initiated">
                                            Påbörjad
                                        </option>
                                        <option value="submitted">
                                            Inskickad
                                        </option>
                                        <option value="controlled">
                                            Kontrollerad
                                        </option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-danger" data-dismiss="modal">Avbryt</a>
                                    <button class="btn btn-success btn-change-status">Ändra status</button>
                                </div>
                            </div>
                        </div>
                    </div>
        </form>

        <!-- Dispatch Modal -->
        <div class="modal fade" id="modal-dispatch" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="form form-dispatch">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <h4 class="modal-title">Nytt utskick</h4>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <label for="description" class="dispatch-label"><b>Kommentar</b> <i>(visas bara internt)</i></label>
                                <input id="description" name="description" type="text"
                                       data-bv-notempty
                                       data-bv-notempty-message="Du måste ange en beskrivning"
                                       class="form-control dispatch-description"/>
                            </div>
                            <div class="form-group">
                                <label for="title" class="dispatch-label"><b>Ämne</b> <i>(titel för mejlet)</i></label>
                                <input id="title" name="title" type="text"
                                       data-bv-notempty
                                       data-bv-notempty-message="Du måste ange en titel"
                                       class="form-control dispatch-title"/>
                            </div>
                            <div class="form-group">
                                <label for="message" class="dispatch-label"><b>Meddelande</b> <i>(innehåll i mejlet)</i></label>
                                <textarea id="message" name="message"
                                          data-bv-notempty
                                          data-bv-notempty-message="Du måste ange ett meddelande"
                                          class="form-control dispatch-message"
                                          rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <div class="btn-group">
                                    <button type="button"
                                            class="btn btn-default btn-insert btn-library">Bibliotek</button>
                                    <button type="button"
                                            class="btn btn-default btn-insert btn-address-password">Enkätadress (med lösenord)</button>
                                    <button type="button"
                                            class="btn btn-default btn-insert btn-address">Enkätadress</button>
                                    <button type="button"
                                            class="btn btn-default btn-insert btn-password">Lösenord</button>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p class="panel-title dispatch-example-heading"></p>
                                </div>
                                <div class="panel-body dispatch-example-body"></div>
                                <div class="panel-footer dispatch-example-footer"></div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                            <button class="btn btn-primary">Spara</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}