{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
<style>
    .final-words {
        background-color: rgb(242, 148, 0) !important; 
        font-size: 30px;
        color: white;
    }

    .popover{
        max-width: none;
        width: 500px;
    }

    .panel-body {
        background-color: rgb(255, 209, 142);
    }

    .panel-heading {
        background-color: rgb(242, 148, 0) !important;
        color: white !important;
        border-color: rgb(219, 136, 4) !important;
    }

    .panel-footer {
        background-color: rgb(242, 148, 0) !important;
        color: white !important;
    }

    .panel {
        border-color: rgb(219, 136, 4) !important;
    }

    hr {
        border-color: rgb(219, 136, 4) !important;
    }

    th {
        border-bottom-color: rgb(219, 136, 4) !important;
    }

    .group-description {
        font-family: helvetica;
        font-size: 15px;
    }

    .principal {
        margin-bottom: 15px;
    }

    .principal-description {
        margin-bottom: 15px;
    }

    .section-title {
        color: rgb(0, 158, 224);
        font-weight: bold;
        margin-top: 40px;
        padding-left: 14px;
    }

    .section-comment {
        width: 100%;
        height: 100%;
    }

    .cell {
        margin-top: 3px;
    }

    .cell .input-group input {
        padding-right: 34px;
    }

    .btn-dropdown {
        border-radius: 0;
    }

    .cell .input-group input[disabled] {
        font-style: italic;
    }

    .row-description {
        display: flex;
        align-items: center;
    }

    .container-survey {
        padding-bottom: 120px;
    }

    .answers-progress {
        margin-bottom: 0;
    }

    .navbar-submit {
        margin-top: 10px;
    }

    ::-webkit-input-placeholder {
        font-style: italic;
    }
    .navbar-library-info {
        background-color: rgb(0, 158, 224);
    }

    .navbar-library-info .navbar-text {
        font-size: 25px;
        margin-left: 0px;
        color: white;
    }

    #panel-help.panel-group {
        margin-bottom: 0;
    }

    #panel-help-top.panel-group {
        margin-bottom: 0;
    }

    .row-help {
        margin-bottom: 10px;
    }

    .alert-navbar {
        padding: 6px 12px;
        margin-bottom: 0;
        margin-top: 3px;
    }

    .group-header {
        margin-bottom: 8px;
    }

    .description-separator {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .row-description {
        padding-left: 10px;
    }

    .navbar-alert {
        margin-top: 0
    }

    .btn-value {
        border-bottom-style: dashed;
        border-right-style: dashed;
        border-top-style: dashed;
        opacity: 0.9 !important;
        font-style: italic;
    }
</style>

{% if user.is_authenticated %}
{% include 'libstat/survey/header_admin.html' %}
{% endif %}
<div class="navbar navbar-default navbar-static-top navbar-library-info" role="navigation">
    <div class="container">
        <div class="navbar-left">
            <div class="navbar-text">
                Välkommen till {{ form.sample_year }} års enkät för
                <b><u>{{ form.library_name }}</u></b>
                {% if form.city %} i <b><u>{{ form.city }}</u></b>{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container container-survey">
    {% if form.is_user_read_only %}
    {% include "libstat/survey/header_submitted.html" %}
    {% endif %}

    <div class="row">
        <div class="col-xs-11 col-sm-10 col-md-7">
            <h2 class="section-title">Innan du börjar fylla i enkäten...</h2>
            {% include "libstat/survey/help.html" %}
        </div>
        <div class="col-xs-1 pull-right">
            <img src="/static/img/kb.svg" alt="Kungl. Biblioteket">
        </div>
    </div>
    <form class="survey-content" id="survey-form" method="post">
        {% csrf_token %}
        {{ form.key }}
        {{ form.disabled_inputs }}
        {{ form.selected_libraries }}
        {{ form.unknown_inputs }}
        {{ form.submit_action }}
        {{ form.read_only }}

        <h2 class="section-title">Svarande organisation/bibliotek</h2>
        <div class="panel panel-default">
            <div class="panel-heading">Välj de bibliotek för vilka värdena i denna enkät ska gälla.</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="column"></th>
                        <th class="column">Namn</th>
                        <th class="column">Stad</th>
                        <th class="column">Adress</th>
                        <th class="column">Kommentar</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for library in form.libraries %}
                        <tr>
                            <td>
                                {% with key=library.checkbox_id %}
                                    {{ form|access:key }}
                                {% endwith %}
                            </td>
                            <td>
                                {{ library.name }}
                            </td>
                            <td>
                                {{ library.city }}
                            </td>
                            <td>
                                {{ library.address }}
                            </td>
                            <td>
                                <i>{{ library.comment }}</i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% for section in form.sections %}
        <h2 class="section-title">{{ section.title }}</h2>
        {% for group in section.groups %}
        <div class="panel panel-default">
            {% if group.description %}
                <div class="panel-heading group-heading">
                    <div class="row">
                        <div class="col-sm-8 group-description">
                            {% with description=group.description|split_into_number_and_body %}
                                <b>{{ description.0 }}</b>
                                {{ description.1 }}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="panel-body group-body">
                {% if forloop.parentloop.first and forloop.first %}
                <div class="row principal">
                    <div class="col-sm-4 principal-description">
                        Ange organisationens huvudman
                    </div>
                    <div class="col-sm-3">
                        {{ form.principal }}
                    </div>
                </div>
                {% endif %}
                {% if group.columns == 1 %}{% include "libstat/survey/col-1.html" %}{% endif %}
                {% if group.columns == 2 %}{% include "libstat/survey/col-2.html" %}{% endif %}
                {% if group.columns == 3 %}{% include "libstat/survey/col-3.html" %}{% endif %}
                {% if group.columns == 4 %}{% include "libstat/survey/col-4.html" %}{% endif %}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        <div class="panel panel-default">
            <div class="panel-body group-body final-words">
                Stort tack för att du besvarade alla frågorna!
            </div>
        </div>
        {% if not form.is_read_only %}
        <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
            <div class="container">
                <div class="navbar-left">
                    <div class="navbar-text">
                        <span class="answers-text">Du har svarat på 0 av 0 frågor totalt</span>

                        <div class="progress answers-progress" style="width: 250px">
                            <div class="progress-bar progress-bar-success progress-bar-striped"
                            role="progressbar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-right navbar-submit">
                <div id="unsaved-changes-label" class="navbar-text"></div>
                <a href="#" id="save-survey-btn" class="btn btn-primary navbar-btn">Spara</a>
                {% if form.can_submit %}
                    <a href="#" id="submit-survey-btn" class="btn btn-success navbar-btn">Skicka</a>
                {% endif %}
            </div>
        </div>

        {% if form.library_selection_conflict %}
            <div class="container">
                <div class="navbar-left">
                    <div class="navbar-text navbar-alert">
                        <div class="alert alert-danger alert-navbar">
                            Enkäten kan inte skickas in för att de valda biblioteken rapporteras för i flera enkäter.
                            <br>Du kan antingen avmarkera dessa bibliotek eller kontakta <a href="mailto:biblioteksstatistik@kb.se">biblioteksstatistik@kb.se</a>.
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
    {% endif %}
</form>
</div>
<div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><b>Är du säker på att du vill skicka in din enkät?</b></p>

                <p>
                    När du skickat in din enkät kommer vi börja behandla värdena.
                    <br>Du kommer då inte längre kunna göra några ändringar i enkäten.
                    <br>
                    <br>Du kommer alltid kunna återvända till enkäten för att se de inlämnade värdena.
                    <br>Detta gör du genom att gå in på samma enkätadress som du använde tidigare.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-danger" data-dismiss="modal">Avbryt</a>
                <a href="#" id="confirm-submit-survey-btn" class="btn btn-success">Skicka</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}