{% extends "libstat/base/admin.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    {% include "libstat/analytics.html" %}

    <style media="print">
        .container {
            width: 900px;
        }
    </style>

    <style>
        .sum-description {
            font-weight: bold;
        }
        .final-words {
            background-color: rgb(242, 148, 0) !important;
            font-size: 30px;
            font-weight: bold;
            color: white;
        }

        .popover {
            max-width: none;
            width: 500px;
        }

        .popover .popover-content {
            padding: 15px;
        }

        .panel-body {
            background-color: rgb(255, 209, 142);
            border-top-color: rgb(219, 136, 4) !important;
            border-bottom: 0px !important;
            border-bottom-left-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }

        .panel-heading {
            background-color: rgb(242, 148, 0) !important;
            color: white !important;
            border-color: rgb(219, 136, 4) !important;
        }

        .panel-footer {
            background-color: rgb(242, 148, 0) !important;
            color: white !important;
        }

        .panel {
            border-color: rgb(219, 136, 4) !important;
        }

        .container-survey hr {
            border-color: rgb(219, 136, 4) !important;
        }

        th {
            border-bottom-color: rgb(219, 136, 4) !important;
        }

        .group-description {
            font-family: helvetica;
            font-size: 15px;
        }

        .section-title {
            color: rgb(0, 158, 224);
            font-weight: bold;
            margin-top: 40px;
            padding-left: 14px;
        }

        .section-comment {
            width: 100%;
            height: 100%;
        }

        .cell {
            margin-top: 3px;
        }

        .cell .input-group input {
            padding-right: 34px;
        }

        .btn-dropdown {
            border-radius: 0;
        }

        .cell .input-group input[disabled] {
            font-style: italic;
        }

        .row-description {
            display: flex;
            align-items: center;
        }

        .container-survey {
            padding-bottom: 120px;
        }

        .answers-progress {
            margin-bottom: 0;
        }

        .navbar-submit {
            margin-top: 10px;
        }

        .navbar-library-info {
            background-color: rgb(0, 158, 224);
        }

        .navbar-library-info .navbar-text {
            font-size: 25px;
            margin-left: 0px;
            color: white;
        }

        #panel-help.panel-group {
            margin-bottom: 0;
        }

        #panel-help-top.panel-group {
            margin-bottom: 0;
        }

        .row-help {
            margin-bottom: 10px;
        }

        .alert-navbar {
            padding: 6px 12px;
            margin-bottom: 0;
            margin-top: 3px;
        }

        .group-header {
            margin-bottom: 8px;
        }

        .description-separator {
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0px;
        }

        .row-description {
            padding-left: 10px;
        }

        .navbar-alert {
            margin-top: 0
        }

        .btn-value {
            border-bottom-style: dashed;
            border-right-style: dashed;
            border-top-style: dashed;
            opacity: 1 !important;
            font-style: italic;
        }

        .btn-dropdown:disabled {
            opacity: 1 !important;
        }

        .btn-dropdown.disabled {
            opacity: 1 !important;
        }

        .table tbody tr td {
            border-top-color: rgb(219, 136, 4);
        }

        .jumbotron.jumbotron-submitted {
            background-color: rgb(0, 158, 224);
            color: white;
        }

        .jumbotron-submitted a {
            color: white;
            text-decoration: underline;
        }

        .jumbotron-submitted h1 {
            font-size: 27px;
        }
    </style>
    <div class="loading"><p><span class="loading-text">Laddar enkät</span><br><br><i class="fa fa-2x fa-spinner fa-spin"></i></p></div>
    <div class="saving" style="display: none;"><p><span class="saving-text">Sparar enkät</span><br><br><i class="fa fa-2x fa-spinner fa-spin"></i></p></div>

    <div class="navbar navbar-default navbar-static-top navbar-library-info" role="navigation">
        <div class="container">
            <div class="navbar-left">
                <div class="navbar-text">
                    Välkommen till {{ form.sample_year }} års enkät för
                    <b><u>{{ form.library_name }}</u></b>
                    {% if form.city %} i <b><u>{{ form.city }}</u></b>{% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated and not hide_admin_panel%}
        {% include 'libstat/survey/headers/admin.html' %}
    {% endif %}
    <div class="container container-survey">
        {% if form.is_user_read_only %}
            {% include "libstat/survey/headers/submitted.html" %}
        {% endif %}

        <div class="row">
            <div class="col-xs-11 col-sm-10 col-md-7">
                <h2 class="section-title">Läs detta först!</h2>
                {% include "libstat/survey/questions.html" %}
            </div>
            <div class="col-xs-1 pull-right">
                <img src="/static/img/kb-survey.svg" alt="Kungl. Biblioteket">
            </div>
        </div>
        <form class="survey-content" id="survey-form" method="post">
            {% csrf_token %}
            {{ form.key }}
            {{ form.disabled_inputs }}
            {{ form.altered_fields }}
            {{ form.selected_libraries }}
            {{ form.unknown_inputs }}
            {{ form.submit_action }}
            {{ form.read_only }}

            {% if not user.is_authenticated %}
                <input type="hidden" name="scroll_position" id="scroll_position" value="{{ scroll_position }}">
            {% endif %}

            <h2 class="section-title">Svarande organisation/bibliotek</h2>

            <div class="panel panel-default">
                <div class="panel-heading">Kryssa för de adresser som du vill redovisa för i denna enkät:</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="column"></th>
                            <th class="column">Namn</th>
                            <th class="column">Stad</th>
                            <th class="column">Adress</th>
                            <th class="column">Kommentar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for library in form.libraries %}
                            <tr>
                                <td>
                                    {% with key=library.checkbox_id %}
                                        {{ form|access:key }}
                                    {% endwith %}
                                </td>
                                <td>
                                    {{ library.name }}
                                </td>
                                <td>
                                    {{ library.city }}
                                </td>
                                <td>
                                    {{ library.address }}
                                </td>
                                <td>
                                    <i>{{ library.comment }}</i>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% for section in form.sections %}
                <h2 class="section-title">{{ section.title }}</h2>
                {% for group in section.groups %}
                    <div class="panel panel-default">
                        {% if group.description %}
                            <div class="panel-heading group-heading">
                                <div class="row">
                                    <div class="col-sm-8 group-description">
                                        {% with description=group.description|split_into_number_and_body %}
                                            <b>{{ description.0 }}</b>
                                            {{ description.1 }}
                                        {% endwith %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="panel-body group-body">
                            {% if group.columns >= 2 %}
                                <div class="row">
                                    <div class="{% if group.columns == 2 %}
                                                    col-sm-4
                                                {% elif group.columns == 3 %}
                                                    col-sm-3
                                                {% elif group.columns == 4 %}
                                                    col-sm-4
                                                {% endif %}
                                                     ">
                                    </div>
                                    {% for header in group.headers %}
                                        <div class="group-header {% if group.columns <= 2 %}
                                                                    col-sm-4
                                                                 {% elif group.columns == 3 %}
                                                                    col-sm-3
                                                                 {% elif group.columns == 4 %}
                                                                    col-sm-2
                                                                 {% endif %}
                                                                 ">
                                            <b>{{ header }}</b>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for row in group.rows %}
                                {% if row.cells and row.cells.0 and "comment" in row.cells.0.types %}
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {% with variable_key=row.cells.0.variable_key %}
                                                {{ form|access:variable_key }}
                                            {% endwith %}
                                        </div>
                                    </div>
                                {% else %}
                                <div class="row">
                                    <div class="{% if row.cells and row.cells.0 and row.cells.0.sum_of %}
                                                    sum-description
                                                {% endif %}
                                                {% if group.columns <= 2 %}
                                                    col-sm-4
                                                {% elif group.columns == 3 %}
                                                    col-sm-3
                                                {% elif group.columns == 4 %}
                                                    col-sm-4
                                                {% endif %}
                                                ">
                                        {{ row.description }}
                                        {% if row.description|length > 70 and not forloop.last %}
                                            <hr class="description-separator">
                                        {% endif %}
                                    </div>

                                    {% for cell in row.cells %}
                                        <div class="{% if group.columns <= 2 %}
                                                        col-sm-4
                                                    {% elif group.columns == 3 %}
                                                        col-sm-3
                                                    {% elif group.columns == 4 %}
                                                        col-sm-2
                                                    {% endif %}
                                                         ">
                                            <div class="cell">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        {% with variable_key=cell.variable_key %}
                                                            {{ form|access:variable_key }}
                                                        {% endwith %}
                                                        <div class="input-group-btn">
                                                            <!-- Skip dropdown for inputs in first group of first section. -->
                                                            {% if not forloop.parentloop.parentloop.parentloop.first or not forloop.parentloop.parentloop.first %}
                                                                {% with variable=form|access:cell.variable_key %}
                                                                    <button type="button"
                                                                            class="btn btn-default btn-dropdown dropdown-toggle"
                                                                            data-toggle="dropdown"
                                                                            tabindex="-1"
                                                                            {% if form.is_read_only %}
                                                                            disabled {% endif %}
                                                                            >
                                                                        <span class="caret"></span>
                                                                    </button>

                                                                    <ul class="dropdown-menu dropdown-menu-right {% if cell.value_unknown %}value-unknown{% endif %}"
                                                                        role="menu">
                                                                        {% if cell.value_unknown %}
                                                                            <li class="active">
                                                                                <a href="#"
                                                                                   class="menu-disable">Värdet är okänt</a></li>
                                                                            <li><a href="#" class="menu-enable">Ange värdet</a></li>
                                                                        {% else %}
                                                                            <li><a href="#" class="menu-disable">Värdet är okänt</a></li>
                                                                            <li class="active"><a href="#"
                                                                                                  class="menu-enable">Ange värdet</a></li>
                                                                        {% endif %}
                                                                    </ul>
                                                                {% endwith %}
                                                            {% endif %}

                                                            {% if cell.explanation %}
                                                                <a type="button" class="btn btn-default btn-help"
                                                                   href="#"
                                                                   tabindex="-1"
                                                                   data-toggle="popover" data-placement="top"
                                                                   data-content="{{ cell.explanation }}"
                                                                   data-trigger="click">
                                                                    <i class="fa fa-question"></i>
                                                                </a>
                                                            {% endif %}

                                                            {% if group.columns != 4 %}
                                                                <button class="btn btn-default btn-value disabled" tabindex="-1">
                                                                    {% if cell.previous_value %}
                                                                        {{ cell.previous_value|floatformat:"-2" }}
                                                                    {% else %}
                                                                        &mdash;
                                                                    {% endif %}
                                                                </button>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-body group-body final-words">
                    Stort tack för att du besvarade frågorna!
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body group-body final-words">
                    Klicka på skicka-knappen för att lämna in enkäten.
                </div>
            </div>
            {% if not form.is_read_only and not hide_bottom_bar%}
                <div class="navbar navbar-default navbar-fixed-bottom" role="navigation">
                    <div class="container">
                        <div class="navbar-left">
                            <div class="navbar-text">
                                <span class="answers-text"></span>

                                <div class="progress answers-progress" style="width: 250px">
                                    <div class="progress-bar progress-bar-success progress-bar-striped"
                                         role="progressbar">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="navbar-right navbar-submit">
                            <a id="print-survey-btn" class="btn btn-default" href="javascript:if(window.print)window.print()"><i class="fa fa-print fa-inline"></i>Skriv ut</a>
                            <div id="unsaved-changes-label" class="navbar-text"></div>
                            <a href="#" id="save-survey-btn" class="btn btn-primary navbar-btn">Spara</a>
                            {% if form.can_submit %}
                                <a href="#" id="submit-survey-btn" class="btn btn-success navbar-btn">Skicka</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if form.library_selection_conflict %}
                        <div class="container">
                            <div class="navbar-left">
                                <div class="navbar-text navbar-alert">
                                    <div class="alert alert-danger alert-navbar">
                                        Enkäten kan inte skickas in för att de valda biblioteken rapporteras för i flera
                                        enkäter.
                                        <br>Du kan antingen avmarkera dessa bibliotek eller kontakta <a href="{{ form.mailto }}">biblioteksstatistik@kb.se</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endif %}
        </form>
    </div>
    <div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Stäng</span></button>
                    <h4 class="modal-title">Är du säker på att du vill skicka in din enkät?</h4>
                </div>
                <div class="modal-body">
                    <p>
                        När du skickat in din enkät kommer vi börja behandla värdena.
                        <br>Du kommer då inte längre kunna göra några ändringar i enkäten.
                        <br>
                        <br>Du kommer alltid kunna återvända till enkäten för att se de inlämnade värdena.
                        <br>Detta gör du genom att gå in på samma enkätadress som du använde tidigare.
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="#" id="cancel-submit-survey-btn" class="btn btn-danger" data-dismiss="modal">Avbryt</a>
                    <a href="#" id="confirm-submit-survey-btn" class="btn btn-success spinner"
                            data-spinner-text="Skickar..." data-spinner-disable="#cancel-submit-survey-btn">Skicka</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}