{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    <style>
        .section-title {
            color: orange;
        }

        .section-comment {
            width: 100%;
            height: 100%;
        }

        .cell .input-group input {
            padding-right: 34px;
        }

        .cell .input-group-btn .btn-dropdown {
            z-index: 1;
            border-radius: 0;
        }

        .cell .input-group-btn .btn-value {
            z-index: 0;
            left: -2px;
        }

        .cell .input-group input[disabled] {
            font-style: italic;
        }

        .row-description {
            display: flex;
            align-items: center;
        }

        .popover {
            width: 300px;
        }

    </style>
    <div class="container">
        <div class="page-header">
            <h1>Statistikenkät för verksamhetsåret {{ form.target_year }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="intro-text">
                    <p>Hej och välkommen!</p>

                    <p>Du har nu kommit till enkäten för Sveriges officiella biblioteksstatistik som gäller för alla
                        offentligt finansierade bibliotekstyper. Tanken med att använda samma formulär till alla
                        bibliotekstyper är att kunna presentera en samlad nationell biblioteksstatistik för offentligt
                        finansierade bibliotek.</p>

                </div>
            </div>
        </div>
        <hr>
        <form class="survey-content" id="survey-form" method="post">
            {% csrf_token %}
            {{ form.key }}

            <h2 class="section-title">Om svarande organisation och person</h2>

            <div class="panel panel-default inverse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>Bibliotek/organisation</h3>

                            <div class="form-group">
                                <label class="control-label">Namn</label>
                                {{ form.organization_name }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kommun/län</label>
                                {{ form.municipality }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Kommun-/länskod</label>
                                {{ form.municipality_code }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Huvudman</label>
                                {{ form.head_authority }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Webbplats</label>
                                {{ form.website }}
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <h3>Svarande person</h3>

                            <div class="form-group">
                                <label class="control-label">Namn</label>
                                {{ form.respondent_name }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">E-post</label>
                                {{ form.respondent_email }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">Telefonnummer</label>
                                {{ form.respondent_phone }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default inverse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 question-group-description">
                            För vilka olika bemannade biblioteksenheter gäller de här svaren?
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12 layout-unknown">
                            ? ? ? ? ? ? ?
                        </div>
                    </div>
                </div>
            </div>

            {% for section in form.sections %}
                <h2 class="section-title">{{ section.title }}</h2>
                {% for group in section.groups %}
                    <div class="panel panel-default inverse">
                        <div class="panel-body">
                            {% if group.description %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ group.description }}
                                    </div>
                                </div>
                                <hr>
                            {% endif %}
                            {% if group.columns == 1 %}{% include "libstat/survey/col-1.html" %}{% endif %}
                            {% if group.columns == 2 %}{% include "libstat/survey/col-2.html" %}{% endif %}
                            {% if group.columns == 3 %}{% include "libstat/survey/col-3.html" %}{% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% if section.comment %}
                    <div class="panel panel-default inverse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="question-group-description">{{ section.comment }}</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <textarea class="section-comment form-control" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            <div class="panel panel-default inverse">
                <div class="panel-body">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="save-btn">Spara svar</button>
                        <button type="submit" class="btn btn-success">Skicka in enkät</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

{% endblock %}