{% extends "libstat/base/admin.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Översikt över inlämning av statistik år {{ sample_year }}</h1>
        Siffrorna exkluderar samredovisade bibliotek (alltså bibliotek som kryssats för i en annan enkät). Siffrorna inom parentes visar alla enkäter inklusive samredovisade.
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-bordered table-condensed table-striped">
				{% for row in table %}
						<tbody>
							<tr>
								{% for col in row %}
									<th>{{ col }}</th>						
								{% endfor %}
							</tr>
						</tbody>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}