<!doctype html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Biblioteksstatistiken</title>

    {# In production "/static/css/bundle.min.css" #}
    {# In dev "/static/css/bundle.css" #}
    <!-- Stylesheets -->
    <link href="/static/css/bundle.css" rel="stylesheet"/>

    <!-- IE fixes needs to be included first of all javascript files -->
    <script src="/static/js/ie-fixes.js" type="text/javascript"></script>

    <!-- Respond.js needs to be referenced after all other css to work properly -->
    <script src="/static/js/plugins/respond/1.4.2/respond.min.js" type="text/javascript"></script>
</head>

<body class="page-survey">

{% load i18n %}
{% load libstat_tags %}

<style media="print">
    .container {
        width: 900px;
    }

</style>

<div class="container container-survey">

    <h2 class="print-title"><a href="javascript:if(window.print)window.print()"><i class="fa fa-print fa-inline"></i>Skriv ut enkäten</a></h2>

<h2 class="print-title"><b>{{ form.library_name }}</b>
    {% if form.city %} i <b>{{ form.city }}</b>{% endif %},
    {{ form.sample_year }} års enkät</h2>

    {% for section in form.sections %}
        <h2 class="section-title-print">{{ section.title }}</h2>
        {% for group in section.groups %}
            <div class="panel panel-default">
                {% if group.description %}
                    <div class="group-heading">
                        <div class="row">
                            <div class="col-sm-8 group-description">
                                {% with description=group.description|split_into_number_and_body %}
                                    <b>{{ description.0 }}</b>
                                    {{ description.1 }}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="panel-body group-body">
                    {% if group.columns >= 2 %}
                        <div class="row">
                            <div class="{% if group.columns == 2 %}col-sm-4{% elif group.columns == 3 %}col-sm-3{% elif group.columns == 4 %}col-sm-4{% endif %}"></div>
                            {% for header in group.headers %}
                                <div class="group-header {% if group.columns <= 2 %}col-sm-4{% elif group.columns == 3 %}col-sm-3{% elif group.columns == 4 %}col-sm-2{% endif %}">
                                    <b>{{ header }}</b>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% for row in group.rows %}
                        {% if row.cells and row.cells.0 and "comment" in row.cells.0.types %}
                            <div class="row">
                                <div class="col-sm-12">
                                    {% with variable_key=row.cells.0.variable_key %}
                                        {{ form|access:variable_key }}
                                    {% endwith %}
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="{% if row.cells and row.cells.0 and row.cells.0.sum_of %}sum-description {% endif %}{% if group.columns <= 2 %}col-sm-4{% elif group.columns == 3 %}col-sm-3{% elif group.columns == 4 %}col-sm-4{% endif %}">
                                    {{ row.description }}
                                    {% if row.description|length > 70 and not forloop.last %}
                                        <hr class="description-separator">
                                    {% endif %}
                                </div>
                                {% for cell in row.cells %}
                                    <div class="{% if group.columns <= 2 %}col-sm-4{% elif group.columns == 3 %}col-sm-3{% elif group.columns == 4 %}col-sm-2{% endif %}">
                                        <div class="form-group">
                                            <div class="input-group">
                                                {% with variable_key=cell.variable_key %}
                                                    {% if cell.sum_of %}
                                                        <div class="sum-of">=</div>
                                                    {% endif %}
                                                    {{ form|access:variable_key }}
                                                {% endwith %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

<br>
<br>
    <h2 class="section-title"><a href="javascript:if(window.print)window.print()"><i class="fa fa-print fa-inline"></i>Skriv ut enkäten</a></h2>
    <br>
<br>


<script src="{% url 'js_reverse' %}" type="text/javascript"></script>

{# In production "/static/js/main_survey.min" #}
{# In dev "/static/js/main_survey" #}
<!-- main_survey.min.js -->
<script data-main="/static/js/main_survey.min" src="/static/js/plugins/requirejs/require.js"></script>
</body>
</html>