{% extends "libstat/base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    
    <div class="page-header">
      <h1>{% trans "Termer" %}</h1>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans "Termer" %}</h3>
      </div>
      <div class="panel-body">
        <p>
          {% trans "Här listas de termer som används i biblioteksstatistiken" %}
        </p>
        <div class="btn-group">
          <a role="button" class="btn btn-default {% if not target_group %}active{% endif %}" href="{% url 'variables' %}">{% trans "Alla" %}</a>
          <a role="button" class="btn btn-default {% if target_group == 'public' %}active{% endif %}" href="{% url 'variables' %}?target_group=public">{% trans "Folkbibliotek" %}</a>
          <a role="button" class="btn btn-default {% if target_group == 'research' %}active{% endif %}" href="{% url 'variables' %}?target_group=research">{% trans "Forskningsbibliotek" %}</a>
          <a role="button" class="btn btn-default {% if target_group == 'hospital' %}active{% endif %}" href="{% url 'variables' %}?target_group=hospital">{% trans "Sjukhusbibliotek" %}</a>
          <a role="button" class="btn btn-default {% if target_group == 'school' %}active{% endif %}" href="{% url 'variables' %}?target_group=school">{% trans "Skolbibliotek" %}</a>
        </div>
      </div>

      <table class="table variables">
        <thead>
          <tr>
            <th class="column key">{% trans "Nyckel" %}</th>
            <th class="column desc">{% trans "Huvudgrupp" %}</th>
            <th class="column comment">{% trans "Undergrupp" %}</th>
            <th class="column is_public">{% trans "Publik" %}</th>
            <th class="column target_groups">{% trans "Målgrupper" %}</th>
          </tr>
        </thead>
        <tbody>
        {% if variables %}
          {% for v in variables %}
            <tr>
              <td><a class="edit-variable" href="#" data-form="{% url 'edit_variable' v.id %}" title="{% trans 'Visa/Ändra' %}">{{ v.key }}</a></td>
              <td>{{ v.category }}</td>
              <td>{{ v.sub_category }}</td>
              <td>{{ v.is_public|yesno }}</td>
              <td>{{ v.target_groups__descriptions|join:", " }}</td>
            </tr>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>
    </div>
    
    <!-- Modals -->
    <div class="modal fade" id="editVariableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div>
  
  </div>

{% endblock %}
