{% extends "libstat/base.html" %}
{% load i18n %}
{% load libstat_tags %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Termer" %}</h3>
            </div>
            <div class="panel-body">
                <p>
                    {% trans "Här listas de termer som används i biblioteksstatistiken." %}
                </p>¶
                <label>
                    {% trans "Filtrera termer per bibliotekstyp" %}
                </label>
                <br/>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a role="button" class="btn btn-default {% if 'public' in target_groups %}active{% endif %}"
                           href="{% url 'variables' %}?target_group=public">
                            {% trans "Folkbibliotek" %}
                        </a>
                        <a role="button" class="btn btn-default {% if 'research' in target_groups %}active{% endif %}"
                           href="{% url 'variables' %}?target_group=research">
                            {% trans "Forskningsbibliotek" %}
                        </a>
                        <a role="button" class="btn btn-default {% if 'hospital' in target_groups %}active{% endif %}"
                           href="{% url 'variables' %}?target_group=hospital">
                            {% trans "Sjukhusbibliotek" %}
                        </a>
                        <a role="button" class="btn btn-default {% if 'school' in target_groups %}active{% endif %}"
                           href="{% url 'variables' %}?target_group=school">
                            {% trans "Skolbibliotek" %}
                        </a>
                        <a role="button" class="btn btn-default {% if 'all' in target_groups %}active{% endif %}"
                           href="{% url 'variables' %}?target_group=all">
                            {% trans "Samtliga bibliotekstyper" %}
                        </a>
                    </div>
                    <div class="btn-group">
                        <a role="button" class="btn" href="{% url 'variables' %}">
                            {% trans "Rensa filter" %}
                        </a>
                    </div>
                    <div class="btn-group pull-right">
                        <a role="button" class="create-variable btn btn-primary" href="#"
                           data-form="{% url 'create_variable' %}">
                            {% trans "Skapa term" %}
                        </a>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table variables">
                <thead>
                <tr>
                    <th class="column key">{% trans "Nyckel" %}</th>
                    <th class="column state">{% trans "Status" %}</th>
                    <th class="column desc">{% trans "Huvudgrupp" %}</th>
                    <th class="column comment">{% trans "Undergrupp" %}</th>
                    <th class="column is_public">{% trans "Öppna data" %}</th>
                    <th class="column target_groups">{% trans "Bibliotekstyp" %}</th>
                </tr>
                </thead>
                <tbody>
                {% if variables %}
                    {% for v in variables %}
                        <tr class="{{ v.state.state }}">
                            <td>
                                <a class="edit-variable" href="#" data-form="{% url 'edit_variable' v.id %}"
                                   title="{% trans 'Visa/Ändra' %}">
                                    {{ v.key }}
                                </a>
                            </td>
                            <td>{{ v.state.label }}</td>
                            <td>{{ v.category }}</td>
                            <td>{{ v.sub_category }}</td>
                            <td>{{ v.is_public|yesno }}</td>
                            <td>{{ v.target_groups|tg_label }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="variableModal" tabindex="-1" role="dialog" aria-labelledby="editVariableLabel"
             aria-hidden="true">
        </div>
    </div>
{% endblock %}
